---
 
title: СПІЛЬНОТА | Лози з-під Києва
---
<div class='p-4 gap-2 flex flex-col'>

<b class='bg-white-adapt p-2 text-fortext'><img src="{{'/'|url}}imgs/ua_logo.png" class='hover:rotate-4 ease-in-out transition-all duration-1100 hover:scale-105 h-[3em] inline' alt='losers of near-kyiv'> це проєкт, створений з любов'ю ❤️🧡💛💚💙💜</b>

<div class='flex flex-col-reverse md:grid md:grid-cols-[3fr_1fr] gap-2 *:w-full'>


<section>
хоча здебільшого проєкт розроблено однією людиною (аврумом, автор_кою, художником та веб-розробником ЛОХІВ), <b>ЛОХИ З-ПІД КИЄВА</b> не існує і не існував б ніколи, якби не через <b>НЕПОХИБНУ ПІДТРИМКУ</b> від друзів, близьких та десятків випадкових людей онлайн що висловили інтерес до цієї маленької комедійної української повсякденної історії.<br>
ця сторінка присвячена <b>колективу ЛзПК</b> та <b>її фанхаті</b>!
<p>кожен пост, малюнок, і мем дуже цінуються!</p>

<h1>ШВИДКО ЗНАЙТИ ЛОХІВ У...</h1>

<div class='flex flex-row gap-2'>
<a href="https://www.pinterest.com/losersofnearkyiv/" target="_blank"><img alt='pinterest' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-6' src="{{'/'|url}}imgs/sm_pinterest.png">PINTEREST</a>
<a href="https://ko-fi.com/losersofnearkyiv" target="_blank"><img alt='ko-fi' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-8' src="{{'/'|url}}imgs/sm_ko-fi.png">KO-FI</a>
<a href="https://neocities.org/site/losersofnear-kyiv" target="_blank"><img alt='neocities' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-5' src="{{'/'|url}}imgs/sm_neocities.png">NEOCITIES</a>
<a href="https://www.tumblr.com/losers-of-near-kyiv" target="_blank"><img alt='tumblr' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-12' src="{{'/'|url}}imgs/sm_tumblr.png">TUMBLR</a>
</div>

<ul class='mt-2'>
<!-- FINISH THIS ASAP -->
<li><a href='https://www.doesthedogdie.com/media/1605829'>список тригерів на DTDD</a></li>
<li><a href='https://archiveofourown.org/tags/%D0%9B%D0%BE%D1%85%D0%B8%20%D0%B7-%D0%BF%D1%96%D0%B4%20%D0%9A%D0%B8%D1%94%D0%B2%D0%B0%20%7C%20Losers%20of%20Near-Kyiv%20(Webcomic)'>ao3 теґ для фанфікшену</a> (поки-що неофіційно)</li>
<li><a href='https://www.tumblr.com/losers-of-near-kyiv/803449251709534208/welcome-to-the-one-official-losers-of-near-kyiv'>tumblr теґи</a></li>
</ul>

<small>ми забули про щось? <a href='{{"/"|locale_url}}/contact'>зв'яжіться з нами!</a></small>
</section>

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/art1.webp' class='hover:scale-103 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption><u class='decoration-dima'>діма</u> від <a href='https://www.tumblr.com/aartisthetic'>artisthetic</a></figcaption>
</figure>

</div>

<section>
<h1 class='font-cmu font-bold'>langauge reference</h1>

<div class='flex flex-col lg:flex-row'>

<div class='lg:w-1/2 w-full'>
<table style="undefined;table-layout: fixed;"><colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
  <tr class='bg-white-adapt text-dark'>
    <th>ІМ'Я УКРАЇНСЬКОЮ</th>
    <th>ІМ'Я АНГЛІЙСЬКОЮ</th>
  </tr></thead>
<tbody class='text-center'>
  <tr>
    <td>ЛОХИ З ПІД-КИЄВА</td>
    <td>LOSERS OF NEAR-KYIV</td>
  </tr>
  <tr>
    <td>#ЛОХИ / #ЛЗПК</td>
    <td>#LONK</td>
  </tr>
  <tr>
    <td>ДМИТРО / ДІМА</td>
    <td>DMYTRO / DIMA</td>
  </tr>
  <tr>
    <td>МІХЕЙ / МІША</td>
    <td>MIKHEI / MISHA</td>
  </tr>

  <tr>
    <td>ЛУЧЕЗАР / ЗАРЯ</td>
    <td>LUCHEZAR / ZARIA</td>
  </tr>
    <tr>
    <td>АКРИЛ</td>
    <td>ACRYL</td>
  </tr>
</tbody>
</table>
</div>
<div class='lg:w-1/2 w-full'>
<h2>ІМЕНА ДУО ПЕРСОНАЖІВ в ЛзПК ВІД КОЛЕКТИВУ</h2>
<small>їх використовують не для романтичного "пейрінгу" а здебільшого як слово або теґ для будь-якої динаміки що двоє персонажів мають! якщо хочется мати саме романтичний теґ, напевно прийдеться додати деталі. дякую за розуміння!</small>
<ul>
<li>🟨🟦 АКРИЛ & МІХЕЙ = мікрил </li>
<li>🟨🟩 АКРИЛ & ЛУЧЕЗАР = закрил </li>
<li>🟥🟨 АКРИЛ & ДІМА = дімкрил </li>
<li>🟥🟩 ДІМА & ЛУЧЕЗАР = дімазар </li>
<li>🟦🟩 МІХЕЙ & ЛУЧЕЗАР = мішазар </li>
<li>🟦🟥 МІХЕЙ & ДІМА = діміша </li>
</ul>
</div>
</div>
</section>

<section>
<h1 class='font-cmu font-bold'>ЛЮБИШ БУТИ ЧАСТИНОЮ СПІЛЬНОТИ? ОСЬ ДЕЯКІ ІДЕЇ:</h1>
<small>це лише кілька пропозицій: роби все, що ТИ можеш і хочеш. також, не соромтся брати це для будь-якої іншої фанхати.</small>
<h2>ПОДІЛИСЯ КОМІКСОМ:</h2>
<ul>
<li>попроси когось прочитати (м'яко; пропонуй, а не змушуй!)</li>
<li>можливо, прочитай це разом з цією людиною </li>
<li>або попросіть її записати свою реакцію</li>
<li>(примітка автора: читати вголос у групі з &quot;голосами&quot — це дуже весело!)</li>
<li>обговори з кимось</li>
<li>додай щось до <a href='https://www.doesthedogdie.com/media/1605829'>списку попереджень щодо вмісту</a>, щоб зробити комікс безпечнишім!</li>
<li><a href='./help_us.html'>переклади комікс (з укр. на англ. тощо!)</a></li>
<li><a href='./help_us.html'>транскрибуй комікс</a></li>
</ul>
<h2>ПОДІЛИСЯ ДУМКАМИ:</h2>
<ul>
<li>зроби десь невеликий пост про комікс</li>
<li>або напиши відгук (у нас є коментарі, якщо хочеш це на сайті!)</li>
<li>або зніми ціле серйозне відео-аналіз на ютубі</li>
<li>роби те, що ТОБІ цікаво, ок? :]</li>
</ul>

<div class='flex flex-col md:grid md:grid-cols-[1fr_2fr] gap-2 *:w-full'>


<!--
-->

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/img2.jpg' class='hover:scale-103 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption><u class='decoration-zaria'>лучезар</u> від <a href='https://www.tumblr.com/leplig'>leplig</a></figcaption>
</figure>

<div>
<h2>ЗАЙМИСЯ МИСТЕЦТВОМ:</h2>
<ul>
<li>створи мемів<ul>
<li><a href='../imgs/community/meme_1.png'>той шаблон мема "що я прочитав / що я очікував / що я отримав"</a></li>
<li><a href='https://imgflip.com/'>шаблони imgflip</a></li>
<li><a href='https://imgflip.com/memetemplate/446539013/Speech-bubble'>бульбашки з персонажами</a></li>
<li><a href='https://makesweet.com/'>конструктор безглуздих silly 3D гіфок #1</a></li>
<li><a href='https://www.3dgifmaker.com/360Spin'>конструктор безглуздих silly 3D гіфок #2</a></li>
<li><a href='https://ezgif.com/maker'>редактор гіфок</a></li>
</ul>
</li>
<li>зроби фандаб</li>
<li>намалюй щось<ul>
<li>може піксель-арт</li>
<li>перемалюй існуючу панель у коміксі яка тобі сподобалася</li>
<li>придумай хедканони до якогось персонажа/зроби редизайн</li>
<li>анімуй щось</li>
<li>зроби будь-що, що подобається!</li>
</ul>
</li>
<li>зрори едіти картинок. нам особливо подобаються гейські!</li>
<li>чи як щодо дошки в pinterest?</li>
<li><a href='https://archiveofourown.org/tags/%D0%9B%D0%BE%D1%85%D0%B8%20%D0%B7-%D0%BF%D1%96%D0%B4%20%D0%9A%D0%B8%D1%94%D0%B2%D0%B0%20%7C%20Losers%20of%20Near-Kyiv%20(Веб-комікс)'>напиши кілька фанфіків</a>
(і, до речі, аврум читає лише фанфіки з тегом «#author can read this (losers of near-kyiv))», тож пиши що хочеш!)</li>
<li>напиши аналіз</li>
<li>а, і, до речі, є  маленька весела традиція: наступного разу, як будеш у худ. магазині і там будуть зразки де можна малювати, можеш додати акрила? не має бути ідеально: їм просто подобається там бути. дякую! # art store acryl</li>
</ul>
</div>


</div>

<div class='flex flex-col md:grid md:grid-cols-[3fr_1fr] gap-2 *:w-full'>

<div>
<h2>ІНШІ ВЕСЕЛІ РЕЧІ:</h2>
<ul>
<li>зроби лоха своєю світлиною в соц.мережі</li>
<li>додай лохів на шпалери або екран блокування свого телефону</li>
<li>створи наліпки в Telegram-і</li>
<li>створи <a href='https://tiermaker.com'>tierlist</a></li>
<li>створи їх у <a href='https://picrew.me/en/'>picrew</a>. чи в <a href='https://pony.town/'>Pony Town</a>. чи в <a href='https://lunime.itch.io/gachalife2'>gacha life</a> (серйозно. крінж мертв.) або будь-де де є конструктор персонажів. веселися!</li>
<li>створи катерогію спідрану лохів, бо в ньому є таймер ТА інтерактивні елементи, одже...</li>
<li>маєш вебайт? додай туди трохи лохів, якщо хочеш! ми пропонуємо штампи та кнопки :]
<a class='w-fit block' href='https://losersofnear-kyiv.neocities.org/'>

<span class='flex flex-row flex-wrap gap-2'>
<img src='{{"/"|url}}imgs/stamp_1.png'><img src='{{"/"|url}}imgs/stamp_2.gif'>
<div class='flex flex-col gap-1'>
<img class='w-full' src='{{"/"|url}}imgs/id.png'>
<img class='w-full' src='{{"/"|url}}imgs/button.gif'>
</div>
</span>

</a>
</li>
<li>запитай щось у <a href='https://www.tumblr.com/blog/losers-of-near-kyiv'>офіційного акаунту ЛзпК у tumblr </a></li>
<li>або надішли нам <a href='./contact_us'>електронного листа</a> з питанням/повідомленням (серйозно: наша е-пошта  не лише для серйозних справ!)</li>
</ul>
</div>
<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/img3.webp' class='hover:scale-103 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption><u class='decoration-zaria'>лучезар</u> від <a>steff_baka</a></figcaption>
</figure>

</div>
<h2>ВІКІ:</h2>
<ul>
<li>хочеш створити фан-вікі?! вау!<ul>
<li>подумай щодо використання <a href='https://miraheze.org/'>MIRAHEZE</a> (щоб створити вікі, потрібно попросити їх надати місце для неї: це звучить страшно і займає трохи часу, але я ОБІЦЯЮ, що воно того варте), а НЕ FANDOM WIKIA.</li>
<li>аврум має досвід роботи з вікіями: якщо потрібна порада чи допомога, просто зв'яжися з ними!</li>
</ul>
</li>
</ul>


<h2>ЗБЕРЕЖИ:</h2>

<ul>
<li>завантаж весь комікс</li>
<li>завантаж весь вебсайт</li>
<li>запиши його на якийсь фізичний носій</li>
<li>розмісти його на якомусь файловому хостингу або в <a href='https://archive.org/'>інтернет-архіві</a></li>
<li>зроби з фрагментів паперові комікси</li>
<li>збережи його будь-яким зручним для себе способом</li>
</ul>

і нарешті,
<br>
будь чемною людиною та уникай цькування людей<br>
знай, що онлайн-драма нічого не може сказати про цінність твого життя<br>
позначай свій контент тегами (наприклад "кров" або "18+" тощо), якщо виникне така потреба<br>
пам'ятай що можна робити перерви від соціальних мереж, коли це стає надто важко<br>
і найголовніше<br>
<b class='p-2 text-black-adapt bg-white-adapt '>розважайся :] ❤️🧡💛💚💙💜</b> <br>

</section>

<!--

<h1>learn correct LoNK language:  </h1>

LoNK = losers of near kyiv = the story

ex. i started to read lonk recently. woke as hell

a LoNK (noun) = some character from LoNK (The Story)

ex. have you seen dima? he’s my favorite lonk!

LoNKs (noun) = plural of a LoNK.

ex. the LoNKs live rent-free in my head now…

LoNKer / lonker = a fan of LoNK

ex. i am a real lonker. i’ve been into it even before it was released!

-->