---
 
title: "ЗВ'ЯЗАТИСЯ | Лохи з-під Києва"

---
<div class='p-6'>
<b>НАША ОФІЦІЙНА ЕЛЕКТРОНА СКРИНЬКА</b> : losers.of.near.kyiv (равлик) gmail (точка) com<br>

<p>зв'яжіться з нами якщо є <b>проблеми із сайтом</b> чи <b>його доступністю;</b> <b>що б надати допомоги (наприклад з перекладом чи чимось ще)</b>; <b>питаннями щодо авторських прав</b>; <b>партерства</b>; <b>милих ідей для сайту</b>; <b>прохання порад з написанням</b>; <b>прохання порад з кодом</b>; і... будь-чим іншим, серйозно. скринькою зараз займається  a▾rum ❤️!<br>

</p>

<h1 class='my-2 font-cmu'><b>ЄДИНІ</b> ОФІЦІЙНІ АККАУНТИ В СОЦ.МЕРЕЖАХ:</h1>

<div class='flex flex-row gap-2'>
<a href="https://www.pinterest.com/losersofnearkyiv/" target="_blank"><img alt='pinterest' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-6' src="{{'/'|url}}imgs/sm_pinterest.png">PINTEREST</a>
<a href="https://ko-fi.com/losersofnearkyiv" target="_blank"><img alt='ko-fi' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-8' src="{{'/'|url}}imgs/sm_ko-fi.png">KO-FI</a>
<a href="https://neocities.org/site/losersofnear-kyiv" target="_blank"><img alt='neocities' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-5' src="{{'/'|url}}imgs/sm_neocities.png">NEOCITIES</a>
<a href="https://www.tumblr.com/losers-of-near-kyiv" target="_blank"><img alt='tumblr' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-12' src="{{'/'|url}}imgs/sm_tumblr.png">TUMBLR</a>
</div>

<a href='https://www.tumblr.com/blog/avrum-posts-stuff'>персональний аккаунт аврума в tumblr (не дуже активний)</a>

<h1 class='my-2 font-cmu'>ПОРАДИ ЩОДО ЗВ'ЯЗКУ З АВРУМОМ, АВТОР_КОЮ ВЕБКОМІКСУ:</h1>
Я не Бог і я не Д'явол! <br>
Я це Я<br>

Прошу, знай що не треба бути кимось "гідним" чи "особливим" що б написати мені, чи навіть мати щось супер-інтересне для діалогу: я обожнюю говорити і читати будь-що мені напищуть. Всі люди рівні, я вважаю<br>

(Але я знаю що будуть деякі люди які будуть мене цькувати буквально через гейський вебкомікс в інтереті з УСІХ речей. Знайте що хоч я і вірю що всі люди рівні, я не буду відповідати на таке і я блокую без сорому 💕 є речі кращі в житті ніж троллінг  )<br>
</p>


</div>