---
title: "ПОПЕРЕДЖЕННЯ ПРО ЗМІСТ | Лохи з-під Києва"
---

<div class='cw_og *:p-5!'></div>

<div class='flex gap-4  py-2 flex-row w-full'>
<a href='{{"/"|locale_url}}read'  tabindex='1' class='button text-center w-full'>ТАК, ЗВУЧИТЬ НОРМАЛЬНО</a>
<a href='{{"/"|locale_url}}' tabindex='1'  class='button text-center w-full'>НІ, МОЖЕ ІНШИМ РАЗОМ</a>
</div>

</div>

