---
 
title: ДОПОМОГТИ | Лози з-під Києва
---


<div class='grid md:grid-cols-[1fr_3fr] p-4 gap-4 w-full *:bg-light text-fortext text-[0.9em]'>

<section class='hidden md:flex flex-col'>
<h1>ДОПОМОЖИ ПРОЄКТУ!</h1>
<ul class='*:ml-0! list-inside *:odd:bg-dark-force *:odd:text-light-force'>
<li>фінансово...</li>
<li>або поширюй онлайн..</li>
<li>або перекладай...</li>
<li>або надай будь-що інше!</li>
</ul>

<div style='background-image: url("{{'/'|url}}imgs/dark_seamless.png")' class='bg-size-[100px] outline-dashed outline-2 outline-dark  flex-grow m-2'>
</div>

</section>

<div>

<h1 class='font-block bg-white-adapt w-full text-black-adapt p-2'>ЛОХИ ЦЕ ТАК КРУТО. ЯК ДОМОГОТИ ПРОЄКТУ? </h1>
<p>дякую за питання! можна...</p>

<button id='donate' onclick='showBox("donate");' class='button-none text-left w-full font-punk1 text-dark-force hover:bg-rose-400 bg-rose-300 p-2 text-[1.1em]'>💷 ЗАДОНАТИТИ:</button>

<div id='donate_box' class='py-2 hidden'>
найкращий спосіб допомогти ЛзПК це <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('фінансово ☆', '#FF5918', 'S6S0WX6VG');kofiwidget2.draw();</script> , бо Лохи з-під Києва <br> <span class='text-rose-500'>☆</span> написані...<br>
<div class='ml-4'><span class='text-lime-500'>☆</span>намальовані...</div>

<div class='ml-2'><span class='text-orange-500'>☆</span> і оплачені за хостінг...</div>
<b class='inline-block text-rose-100 p-2 skew-y-1 -skew-x-3 bg-dark-force'>одним аврумом, біженцем з інвалідністю без стабіньої зп (💀🏳️‍⚧️)</b>.
<br>я працюю над цим коміксов як хобі. я дуже люблю мати гроші щоб ПОЇСТИ ІЖУ іноді. цей комікс існує онлайн безкоштовно і на сайті немає реклами. тож, якщо ЛОХИ дали тобі усміхнутися і в тебе є гривня, це найкраще що ти можеш зробити!

<a href='https://ko-fi.com/losersofnearkyiv'><img class='w-24 m-2 inline' src='https://storage.ko-fi.com/cdn/brandasset/v2/support_me_on_kofi_badge_red.png'></a><br>
(всі хто донатять получають МАЛЕНЬКУ УНІКАЛЬНУ КАРТИНКУ З ЛОХАМИ ЯКІ ПОПРОСЯТЬ В ПОДАРУНОК!!!!)
<br>
<small> може одного дня в нас буде <u>мерч......................</u> </small>
<br><br>
але, треба пам'ятати: <b>зараз є БАГАТО ЛЮДЕЙ ЩО ЗНАХОДЯТЬСЯ В УКРАЇНІ яким треба допомога набато більше ніж мені!</b>
якщо є гроші лише на одну річ, задонать  <a href='https://impactful.ninja/best-charities-for-ukraine/'>у фонд</a> чи <a href='https://kyivpride.org/'>справжнім українським</a> <a href='https://genderstream.org/'>ЛГБТК+</a> <a href='https://www.insight-ukraine.org'> організаціям </a> а не мені! </b>

</div>

<button id='spread' onclick='showBox("spread");' class='button-none text-left w-full font-punk1 text-dark-force hover:bg-orange-300 bg-orange-200 p-2 text-[1.1em]'>🌈 РОЗКАЗАТИ ДРУЗЯМ, РОДИНІ, І СВОЇМ ВОРОГАМ…:</button>


<div id='spread_box' class='hidden py-2'>
другий найкращий спосіб допомогти це <b>поширити історію з іншими</b>.<br>

ні.<br>серйозно<br><b>ПОКАЖИ КОМУСЬ.</b> це один з НАЙКРАЩІХ ШЛЯХІВ підтримати цю історію. поділися нею з випадковими людьми, друзями, ворогами, родиною, улюбленим ютубером/ютуберкою, або професоркою яку знаєш лише рік але яка дивно толерантно ставлиться до транс*людей, мені байдуже.
 <br>
 якщо тобі було весело, хай їм буде, теж.
<br>
знаєш ще один класний спосіб поділитися цією історією?<br><br>
<b>ДОЛУЧАЙСЯ ДО ЇЇ СПІЛЬНОТИ!</b><br>

ми підготували <a href='./community'>ДИВОВИЖНИЙ, ВЕЛИЧЕЗНИЙ СПИСОК</a> веселих речей для фанхати ЛзПК, від мемів до аналізу до... спідранінгу???<br>

серйозно просто йди і зроби щось!

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/z_all.webp' class='hover:scale-101 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption>логотип ЛзПК на текстилі, від <a href='https://www.tumblr.com/aartisthetic'>artisthetic</a> :] </figcaption>
</figure>

</div>

<button id='translate' onclick='showBox("translate");' class='button-none text-left w-full font-punk1 text-dark-force hover:bg-lime-300 bg-lime-200 p-2 text-[1.1em]'>📝 ПЕРЕКЛАСТИ АБО ТРАНСКРИБУВАТИ ЦЕЙ КОМІКС:</button>

<div id='translate_box' class='hidden py-2'>

<h3>🌐 ПЕРЕКЛАСТИ</h3>
<p>ЛзпК офіційно виходить двома мовами: АНГЛІЙСЬКОЮ та УКРАЇНСЬКОЮ. <br> він створений багатомовною автор_кою з великою любов'ю і кількістю зусилль, щоб цей комікс і сайт був чудовим досвідом, незалежно від того, якою мовою ти це читаєш.<br>
однак, світ розмовляє не лише АНГЛІЙСЬКОЮ та УКРАЇНСЬКОЮ: за оцінками, зараз існує приблизно <b>7000 ЖИВИХ МОВ</b>!<br>
хоч я не можу перекласти ЛОХІВ усіма 7000 існуючими мовами, я МОЖУ <b>НАПОЛЕГЛИВО ПІДТРИМУВАТИ ФАНАТСЬКІ ПЕРЕКЛАДИ НА БУДЬ-ЯКІ МОВИ, ОСОБЛИВО "МАЛОЗНАЧНІ".</b> <br>
ЛзпК НЕ найпростіший проєкт для перекладу, ОСОБЛИВО без попереднього досвіду: в ньому багато неформальної мови, граматичногендерних проблем, та й комікс-ознайомлення досить довгий (80+ сторінок господи боже мій).<br>
однак, його переклад може розширити аудиторію. переклад це питання доступності! 
не кожна людина може вивчити англійську настільки легко, щоб мати змогу прочитати щось типу ЛзпК, тому можна допомогти цим людям подолати цю проблему і дати їм насолодитися історією, яку вони не знали, що хочуть в своєму житті.<br>
<b>я можу надати будь-кому необхідні матеріали, контекст, адаптацію та нотатки до перекладу, якщо хтось вирішить перекласти комікс АБО навіть весь веб-сайт.</b> <br>
такі переклади не є офіційними, тому нема проблем якщо це не буде ідеальна професійна робота: важливо те, що б було весело перекладати!</p>
<br>

<h3>♿ ТРАНСКРИБУВАТИ:</h3><p>як <b>АВТОР_КА З ІНВАЛІДНІСТЮ</b>, я маю дещо сказати: <br>
<strong>ДОСТУПНІСТЬ ДЛЯ ЛЮДЕЙ З ОБМЕЖЕНИМИ МОЖЛИВОСТЯМИ ДЛЯ МЕНЕ ДУЖЕ ВАЖЛИВА.</strong>
є причина, чому <!--до всього веб-сайту LoNK можна отримати доступ лише за допомогою кнопки Tab і без використання миші, чому--> перед сторінками коміксу є ПОПЕРЕДЖЕННЯ, і чому всі діалогові вікна були вибрані в певних відтінках кольорів, які можна розрізнити при більшості типів дальтонізму. <br>
<b>
порушення не повинні заважати вам насолоджуватися історіями,<br>
але дуже часто це відбувається.<br></b>
хоча я й роблю все що можу щоб врахувати деякі типи інвалідності, є деякі, які вимагають більше часу та зусиль: комікси зазвичай недоступні для сліпих та людей з великими вадами зору через природу коміксів бути, ну, візуальними.
<br>
однак... це не означає, що <a href='https://spinweaveandcut.com/blind-accessible-comics/'>їх НЕ МОЖНА адаптувати...</a> або що <a href='https://archiveofourown.org/series/994572'>ніхто ніколи їх не адаптує</a>. (справді перевірь останнє посилання: хтось повністю транскрибував HOMESTUCK для шрифту брайля та програм "текст-у-мовлення", в результаті чого контенту там на 1 мільйон слів.)<br>
це просто означає, що для цього потрібно більше зусилля та часу!<br>
оскільки я, аврум, автор_ка цього веб-коміксу, зараз перебуваю у складній життєвій ситуації та можу працювати над LoNK лише у вільний час (а робота над ним включає написання, малювання, розфарбовування, переклад, кодування веб-сайту тощо...), я не маю здантості створити справді хорошу транскрипцію.<br>
однак з чиєюсь допомогою це можливо!<br>
якщо займаєшся транскрипцією та хочеш допомогти, <a href='{{"/"|locale_url}}contact'>звернися до колективу ЛзпК</a>. ми цінуємо і дуже потребуємо таких людей. 💖
</p>
</div>


<button id='other' onclick='showBox("other");' class='button-none text-left w-full font-punk1 text-dark-force hover:bg-blue-400 bg-blue-300 p-2 text-[1.1em]'>⭐ НАДАТИ ІНШУ ДОПОМОГУ:</button>

<div id='other_box' class='hidden py-2'>

<p>
думаєш що можеш допомогти інакше? певно так! прошу, <a href='{{"/"|locale_url}}contact'>зв'яжись з колективом!</a>
</p>
</div>

<!--

<ul>
<li></li>
<li></li>
<li></li>
</ul>

-->


<b>🇺🇦 🏳️‍🌈  любити ЛзПК це любити українців.  задонать  <a href='https://impactful.ninja/best-charities-for-ukraine/'>у фонд</a> чи <a href='https://kyivpride.org/'>справжнім українським</a> <a href='https://genderstream.org/'>ЛГБТК+</a> <a href='https://www.insight-ukraine.org/'> організаціям </a> якщо можеш!

</div>


<script>

function showBox(y) {
console.log('yay');
  document.getElementById(y+'_box').classList.toggle('hidden');
}

</script>
