---
layout: template.njk
title: ACRYL
---
<main class='w-full grid text-[0.9em] *:p-4 min-h-[100vh] md:grid-rows-[1fr_0.25fr] md:grid-cols-[1fr_0.4fr_1fr_0.4fr_1fr] gap-1'>

<style>

@keyframes infiniteScrollBg {
  0% {
    background-position: 0px 0px;
  }
  100%{
    background-position: 200px 200px;
  }
}
</style>

<!--LEFT COL START-->

<div class='bg-white col-span-2'>

<p><b>ACRYL</b>
<br>alt: <b>Acrylic</b><br>
he/xe/she/placeholder</p>

</div>

<!--CENTER DIV START-->
<div class='bg-blue-200'> 

<div class='relative *:absolute *:top-0 *:left-0 '>
<img class='animate-[spin_30s_linear_infinite]' src='../imgs/acryl_rotate.png'>
<img class='z-5' src='../imgs/acryl_sticker.png'>
</div>

</div>
<div class='bg-white col-span-2'></div>

<div class='bg-white w-full col-span-5'></div>

</main>

<!--
<div class='bg-white'>

<img src='../imgs/acryl_sticker.png' class='w-10vw aspect-square'>

<p class='bg-white py-4 px-2 text-black'><span id='music_hold'>music loading...</span> <span id='music'></span></p>

</div>

<div class='bg-paper text-fortext bg-size-[43%]'>

<p class='uppercase text-[0.8em]'><b>ACRYL (АКРИЛ)</b> | PRONOUNS: <b>they/xe/ze<span id='he'></span><span id='she'></span></b> </p>

<blockquote>&quot; They say dating is a numbers game... So could I have yours? ❤️&quot;</blockquote>

<span class='flex w-1/9 flex-col gap-2'>

<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1192ddd2-b4a9-46dd-a462-2303ff2eb4c4/deprkti-65b94890-53d8-4fe2-b766-6751cce52fe1.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8xMTkyZGRkMi1iNGE5LTQ2ZGQtYTQ2Mi0yMzAzZmYyZWI0YzQvZGVwcmt0aS02NWI5NDg5MC01M2Q4LTRmZTItYjc2Ni02NzUxY2NlNTJmZTEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iJGDbqIowIeMCbJE36snqSXd_f__d9paFt4wOPtzg-A'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1192ddd2-b4a9-46dd-a462-2303ff2eb4c4/deprkm7-12338958-52e4-4c46-a266-574f35da2488.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8xMTkyZGRkMi1iNGE5LTQ2ZGQtYTQ2Mi0yMzAzZmYyZWI0YzQvZGVwcmttNy0xMjMzODk1OC01MmU0LTRjNDYtYTI2Ni01NzRmMzVkYTI0ODgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.up8f0AJzpgU0uul_mZA8cXLYDniuf_YvcWXWIWIrxHA'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1192ddd2-b4a9-46dd-a462-2303ff2eb4c4/deprksr-d192842b-7f21-46be-814e-6a1249e72225.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8xMTkyZGRkMi1iNGE5LTQ2ZGQtYTQ2Mi0yMzAzZmYyZWI0YzQvZGVwcmtzci1kMTkyODQyYi03ZjIxLTQ2YmUtODE0ZS02YTEyNDllNzIyMjUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.yUl6pPZu2UUo08vFLp2PvZETMQXFT3nXmJtgFNZIs5A'>
</span>

</div>

</div>
</div>


-->


<script>
function isOdd(n) {
   return Math.abs(n % 2) == 1;
}

let musicArray = ["ротор'молла - восьмий колір", "the scary school - i want to kiss you", "marina and the brilliants - are you satisfied",  "marina and the brilliants - homewrecker", "veronicas the musical - the me inside of me", "veronicas the musical - meant to be yours", "veronicas the musical - dead girl walking (reprise)", "marina and the brilliants - are you satisfied", "gven stephanie - bubble pop electric", "marina and the brilliants - electra heart", "lovelythegroup - don’t worry, you will", "marina and the brilliants - how to be a heartbreaker", "king - good old-fashioned lover boy", 'lavril avinge - sk8er boi', 'lavril avinge - girlfriend', 'hallows - scrawny', 'deco*72 feat. matsune hiku - ghost rule | ゴーストルール ', 'deco*72 feat. matsune hiku - android girl | アンドロイドガール ', "deco*72 feat. matsune hiku - liar's dance | ライアーダンス", 'nakaria feat. gummi - KING ', "ротор'молла - восьмий колір", ];

/* needs 21 songs, not 20 due to math shenanigans, */

let musicArray2 = ["make out sunday - hope less romantics", "your chemical romance - cemetery", "your chemical romance - na na na",  "your chemical romance - to the end", "kotchi no Sugō - hai yorokonde | はいよろこんで", "old friend - HEADCASE", "AGR - BANG!", "paty kerry - i kissed a girl", "aria ena - it took me by surprise ", "stack jauber - baby hotline",  "your chemical romance - i'm not okay (i promise)", "kikio - aishite aishite aishite | 愛して愛して愛して", "king - good old-fashioned lover boy", 'lavril avinge - sk8er boi', 'lavril avinge - girlfriend', 'deco*72 feat. matsune hiku - hibana | ヒバナ ', 'deco*72 feat. matsune hiku - ghost rule | ゴーストルール ', 'deco*72 feat. matsune hiku - android girl | アンドロイドガール ', "deco*72 feat. matsune hiku - liar's dance | ライアーダンス", 'nakaria feat. gummi - KING ', "make out sunday - hope less romantics", ];

const music= document.getElementById("music");
const music_hold= document.getElementById("music_hold");

function round3(x)
{
    return Math.ceil(x / 3) * 3;
}


function update(){

let d = new Date(); 

let day = d.getDay();  // SUNDAY = 0 ; MONDAY = 1; SATURDAY = 6
let h = d.getHours();
let m = d.getUTCMinutes();


if (isOdd(h)){

let curSong=musicArray[ round3(m)/3 ];
music_hold.innerHTML='🎵 currently listening to';
music.innerHTML=curSong;

}else{

let curSong=musicArray2[ round3(m)/3 ];
music_hold.innerHTML='🎵 currently listening to';
music.innerHTML=curSong;

}


if( (day=='5' || day=='6' ) && (h>17 && h<23) ){   // GONE ON SATURDAY AND FRIDAY NIGHTS FROM 18 TO 22
music_hold.innerHTML='busy; not listening to anything right now.';
music.innerHTML='';
}

if( (h>3 && m>11) && (h<7 && m>02)){  // FROM 3.11 TO 7.02 IS ASLEEPY
music_hold.innerHTML='asleep; not listening to anything right now.';
music.innerHTML='';
}

}


const hebox= document.getElementById("he");
const shebox= document.getElementById("she");

function updatePronouns(){
let d = new Date(); 

let ddate = d.getDate();
let h = d.getUTCHours();
let month = d.getUTCMonth();
let m = d.getUTCMinutes();

if (!isOdd(month+1)){ //for odd months

let heArray=[1,2,3,4,5,7,8,9,11,15,16,19,20,23,24,25,26,27,28,30,31];
let sheArray=[1,3,4,5,7,12,13,14,16,19,20,23,30];


if(heArray.includes(ddate)){
hebox.innerHTML='/he';
}if(sheArray.includes(ddate)){
shebox.innerHTML='/she';
}

}else{             //for even months

let heArray=[1,2,3,4,5,7,8,9,14,15,17,18,19,20,23,24,25,26,27,28,30,31];
let sheArray=[4,5,8,12,14,16,19,20,22,24,29,31];

if(heArray.includes(ddate)){
hebox.innerHTML='/he';
}if(sheArray.includes(ddate)){
shebox.innerHTML='/she';
}

}



}

// LOAD PAGE:

addEventListener("DOMContentLoaded", (event) => { 
update();

setInterval(function() {
update();
}, 60*1000); //EVERY MINUTE CHECKS SONGS! :3


})



addEventListener("DOMContentLoaded", (event) => { 
updatePronouns();
setInterval(function() {
updatePronouns();
}, 60*60*1000); //EVERY HOUR CHECKS PRONOUNS


})


</script>
