
<div class='flex flex-col md:flex-row'>
<section class='bg-white text-center text-dark-force  w-full md:w-1/3 text-[0.90em] p-2'>
<h1>Лохи з-під Києва:</h1>
<p>Ознайомлення</p>
<h2>ПОДЯКИ</h2>
<p>концепт коміксу:
a▾rum</p>
<p>сценарій:
a▾rum</p>
<p>оформлення &amp; розкадрування
a▾rum</p>
<p>малювання:
a▾rum</p>
<p>фарбування:
a▾rum</p>
<p>код гри:
a▾rum</p>
<p>код сайту:
a▾rum</p>
<p>музичний супровід:
безкоштовна музика,
така як
orange juice on the table
від mondayhopes (pixabay) та 
stranger від michelcmusic
(looperman)
</p>
<h2>БЕТА-ЧИТАННЯ:</h2>
<p>сценарій:
драко &amp; рубі</p>
<p>комікс:
ліам &amp; рубі &amp; езекіель
&amp; ніна &amp; leplig</p>
<h2>ПЗ &amp; МАТЕРІАЛИ:</h2>
<p>безкоштовна firealplaca
та ресурси у вільному доступі</p>
<h2>ОСОБЛИВА ПОДЯКА</h2>
<p>людям україни</p>
<p>ЛГБТКІА+ спільноті і тим хто їх підтримує</p>
<p>Моніці Гелмс, дизайнерці транс*прапору</p>
<p>однієй сесії brainstorming-у яку я мала з другом десь у 2023 <br>
(ти знаєш хто ти! сподіваюся, ти все це читаєш!!!)</p>
<p>містичної організації / колективу ЛзПК (тобто, всім людям в житті аврума що підтримували концепт і створювали фанарти, що закінчилося справжнім існуючим коміксом)</p>
<p>тобі, людині що це читає!</p>

</section>

<section class='bg-light w-full  md:w-2/3 text-[0.95em] text-fortext p-2'>
<p>вау! комікс завершено, га? напевно час <span class='inline-block button'>
<input type="checkbox" id="ReadCheck"> 
<label class='text-white' for="ReadCheck">позначити випуск прочитаним</label>
</span> щоб розблокувати весь вебсайт, якщо це твій перший раз.

але можливо, в тебе залишилися питання. <br>
хочеш прочитати...</p>
<h1 class='font-block'>ЧаПи ? </h1>
<small>написано без ШІ!</small>


<button id='tododo' onclick='showBox("tododo");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>💛 комікс прочитано... що мені тепер робити?</button>

<div id='tododo_box' class='p-2 hidden'>
дякую за питання! напевно побути на самоті із своїми думками. розказати комусь про цю історію. може залишити коментарій. може <a href='{{"/"|locale_url}}help_us'>перевірити інші</a> <a href='{{"/"|locale_url}}community'>сторінки сайту</a> та ЧаПи.
<br>
а, і, доки ти тут...<br>
можеш зробити щось таке, хаха.<br>
<img src='{{"/"|url}}imgs/community/meme_1.png'>
</div>


<button id='imnotqueer' onclick='showBox("imnotqueer");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>🏳️‍🌈 це круто, але я не гей/транс... це для мене? я можу продовжити читати? </button>

<div id='imnotqueer_box' class='p-2 hidden'>
не знаю, чи можеш ти..?<br>
рофлю, звісно ж <b>ТАК!</b><br>
хоч ця історія і має багато жартів і сюжету на тему ЛГБТКІА+, як і на тему інших соціальних меншин, якщо тобі сподобався цей випуск, то ти полюбиш що буде далі!<br>
це, більш ніж все інше, маленький комедійний повсякденний комікс про молодь і дружбу, і не треба бути "квіром" що б любити ці теми.
</div>

<button id='nextchapter' onclick='showBox("nextchapter");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>2️⃣  коли вийде 2-ий розділ?</button>

<div id='nextchapter_box' class='p-2 hidden'>
якщо коротко: <b>перша половина 2026-ого року,</b> певно<br>
якщо довго: так сталося, що<br>
автор_ка цього коміксу займається ним у свій вільний час, і не заробляє з нього грошей окрім малесеньких <a href='https://ko-fi.com/losersofnearkyiv'>пожертв</a>. і я, a▾rum, також маю проблеми із здоров'ям, тож якщо я поставлю собі дедлайн, я можу його легко проїбати через випадковинку з моїм медичним станом.<br>
але, дивлячись на те що на час релізу Лохів з-під Києву (у грудні 2025), сюжет 2-ого випуску вже окреслено,
<br>
і розділ буде менший за розміром (сподіваюся) ніж цей,
<br>
і вебсайт вже дороблено і адаптовано для додатку нового розділу,
<br>
скоріш за все він вийде десь в першій половині 2026!<br>
якщо хочеш допомогти йому вийти швидке, можна  <a href='{{"/"| locale_url}}help_us.html'>допомогти</a> 🥰💖 
</div>


<button id='show' onclick='showBox("show");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>🖼️ є чутки що це концепт для МУЛЬТСЕРІАЛУ ?</button>

<div id='show_box' class='p-2 hidden'>
комікс "Лохи з-під Києва" був написаний саме як концепт для комедійного епізодійного анімованого вебсеріалу, так! <br>
але концепт то концепт. у автор_ки ніколи не було плану зробити з цього щось реальне: я просто малюю і ділюся цими персонажій в мережі.
<br>
але, з роками, цей концепт получив  <b>НЕЙМОВІРНО ПОЗИТИВНУ РЕАКЦІЮ</b> від інших і це сприяло створенню ЛОХІВ як вебкоміксу!<br>

створити справжнє анімоване шоу, навіть якщо воно не буде дотримутивися стандартам телебачення, це <b>ДУЖЕ СКАДНО</b> і займає <b>БАГАТО ГРОШЕЙ, ЧАСУ, І ЛЮДЕЙ.</b> це не те що я можу зробити легко, <i>і можливо, Лохи з-під Києва завжди будуть лише маленьким миленьким коміксом.</i><br>
а як ні...<br>
то ні! багато що можно зробити і ніхто не знає що там в майбутньому.<br>
одна з мрій аврума це, одного дня, <b>СТВОРИТИ ОФІЦІЙНИЙ ДУБЛЯЖ ДО КОМІКСУ</b>: це один крок до створення <b>СПРАЖНЬОГО ШОУ</b>, але навіть це - далекі плани!<br>
і якщо ти з тих людей хто б ДУЖЕ хотів що б це стало мультсеріалом... <a href='{{"/"| locale_url}}help_us.html'>ти можеш допомогти!</a>
</div>

<button id='sup' onclick='showBox("sup");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>💖 як я можу підтримати проєкт?</button>

<div id='sup_box' class='p-2 hidden'>
ох, це так мило! є безліч способів, <a href='{{"/"| locale_url}}help_us.html'> всі з яких написані у спеціалізованій сторінці.</a> а ще, якщо тобі сподобалося, може ти захочеш побачити <a href='{{"/"| locale_url}}community.html'>що роблять інші</a>  і <a href='{{"/"| locale_url}}community.html'>приєднатися до них!</a>!  
</div>

<button id='asking' onclick='showBox("asking");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>❔ чи можу я запитати щось про цю історію або персонажей?</button>

<div id='asking_box' class='p-2 hidden'>
так! через нашу електрону пошту <b>(losers.of.near.kyiv (равлик) gmail (точка) com)</b> або через <a href='https://www.tumblr.com/losers-of-near-kyiv'>питання в тамблері</a>!
💖 колектив ЛзпК буде радий відповісти. <br><br>
пам'ятай: багато в цієй історії це не було показано до аудиторії, тож деякі питання неможливо відповісти через або спойлери або факт того що скоро відповідь з'явится в коміксі. а ще, все що питають це КОНЦЕПТИ/CУМНІВНО-КАНОНИЧНЕ доки воно не стало частиною сюжету.
<br><br>
якщо це більш питання щодо напису, створення, чи щось типу звертання по допомогу з квір-темою, прошу написати саме авруму прямо, або через е-пошту або через <a href='https://www.tumblr.com/blog/avrum-posts-stuff'>персональний тамблр аккаунт.</a>
<p>пам'ятай вести себе доброзичливо! 💖 тролінг та цькування не будуть ані прийнятими ані сприйматися серйозно.</p>
</div>

<button id='typo' onclick='showBox("typo");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>❌ я бачу помилку або зламану функцію ...</button>

<div id='typo_box' class='p-2 hidden'>
<b>бля, серйозно?</b><br>
так буває. я не завжди помічаю проблеми, тож дякую тим хто це бачить.<br>
прошу звернутися надіслати листа до е-пошти <b>(losers.of.near.kyiv (равлик) gmail (точка) com)</b>!
</div>

<button id='indie' onclick='showBox("indie");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>стій. це все що, ОДНА ЛЮДИНА робить ..?</button>

<div id='indie_box' class='p-2 hidden'>
а. так. е-е-е... бачиш "подяки"? якщо так говорили, Лохи з-під Києва це ДУЖЕ інді проєкт, зроблений лише аврумом і більш ніким іншим, бо вся ПРЯМА робота над коміксом (і вебсайтом також) була зроблена ними (тобто, мною, але я використовую мову від третього лиця щоб звучати біль круто ЛОЛ)
<br>
але...<br>
як я вважаю, Лохи з-під Києва <b>Є</b> груповим проєктом!<br>
ця історія б ніколи не існувала як би не було підтримки від інших, веселих розмов, випадковим brainstorming-ів і іншого. і коли мені треба придумати щось для неї, я завжди запитую своїх друзей та інших що б вони допомогли!<br>
<b>Коллектив ЛзпК</b> не є однією конкретною групою: це просто люди що мене оточують в житті (хоча як мене спитати, справді існує секретний приватний сервер у Discord-і де приймаються рішення щодо ЛзПК, хаха!)
</div>







</section>
</div>

