
<div class='flex flex-col md:flex-row'>
<section class='bg-white text-center text-dark-force  w-full md:w-1/3 text-[0.90em] p-2'>
<h1>Losers of Near-Kyiv:</h1>
<p>Introduction</p>
<h2>CREDITS</h2>
<p>story concept:
a▾rum</p>
<p>scriptwriting:
a▾rum</p>
<p>layout &amp; boarding:
a▾rum</p>
<p>inking:
a▾rum</p>
<p>coloring:
a▾rum</p>
<p>game coding:
a▾rum</p>
<p>website coding:
a▾rum</p>
<p>soundtrack:
royalty-free music,
notably
orange juice on the table
by mondayhopes (pixabay) and 
stranger by michelcmusic
(looperman)
</p>
<h2>BETA READING:</h2>
<p>script:
drako &amp; ruby</p>
<p>the comic:
liam &amp; ruby &amp; ezekiel
&amp; nina &amp; leplig</p>
<h2>SOFTWARE &amp; MATERIALS:</h2>
<p>freeware firealplaca
public domain</p>
<h2>SPECIAL THANKS TO</h2>
<p>the ukrainian people</p>
<p>LGBTQIA+ community and its allies</p>
<p>monica helmes, the creator
of the transgender flag</p>
<p>a single brainstorming
session i had with a friend
once in roughly 2023 <br>
(you know who you are! hope you're reading this!!!)</p>
<p>the mysterious entity that is the LoNK team (aka, all of a▾rum's people in life who were supportive and made silly little fanart and ended up pushing them to make it into a real existing comic.)</p>
<p>you, the reader!</p>

</section>

<section class='bg-light w-full  md:w-2/3 text-[0.95em] text-fortext p-2'>
<p>wow! you sure finished that comic! you should probably <span class='inline-block button'>
<input type="checkbox" id="ReadCheck"> 
<label class='text-white' for="ReadCheck">mark this issue as read</label>
</span> real quick to unlock all of website's features, if this is your first time here.

but it could be that you have some questions left. <br>
would you like to read the...</p>
<h1 class='font-block'>F.A.Q. ? </h1>
<small>not ai-generated!</small>


<button id='tododo' onclick='showBox("tododo");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>💛 i just finished this comic. what do i do now?</button>

<div id='tododo_box' class='p-2 hidden'>
i'm glad you asked! probably sit for a while with your own thoughts. talk to someone about it. maybe leave a comment. maybe <a href='{{"/"|locale_url}}help_us'>check out</a> <a href='{{"/"|locale_url}}community'>the rest of the site</a> and FAQ.
<br>
oh, actually, while you're at it...<br>
maybe you could post something like this, haha.<br>
<img src='{{"/"|url}}imgs/community/meme_1.png'>
</div>


<button id='imnotqueer' onclick='showBox("imnotqueer");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>🏳️‍🌈 this is cool, but i'm not gay or trans... is this for me? can i continue reading?</button>

<div id='imnotqueer_box' class='p-2 hidden'>
i don't know, <i>can</i> you? <br>
jokes aside, the answer is <b>YES!</b><br>
while this story contains some jokes on the topic and plots relating to being LGBTQIA+, as well as other social minorities, if you enjoyed it so far you will likely love what it has to offer!<br>
this, above anything else, is a stupid comedy slice of life story about young adults and friendship, and you don't have to be queer to relate to that.
</div>

<button id='nextchapter' onclick='showBox("nextchapter");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>2️⃣ when will chapter 2 come out?</button>

<div id='nextchapter_box' class='p-2 hidden'>
short answer: <b>early months of 2026</b> probably<br>
long answer: you see, <br>
the creator of this comic only does it in free time as a hobby. it's not properly monetized outside of small-scale <a href='https://ko-fi.com/losersofnearkyiv'>donations</a>. i, a▾rum, am also disabled, so if i set a deadline i can easily miss it in a middle of a medical emergency LOL. <br>
however, considering that by the time of public release of Losers of Near-Kyiv (that being december 2025) chapter 2's plot is already outlined,
<br>
and the chapter will be smaller in size (hopefully) than the last one,
<br>
and the website is already done and optimized for easily adding another chapter,
<br>
it's likely coming out in early months of 2026!<br>
if you want it to release faster, there are <a href='{{"/"| locale_url}}help_us.html'>some things you can do</a>  to help 🥰💖 
</div>


<button id='show' onclick='showBox("show");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>🖼️ i've heard it's a concept for an ANIMATED SHOW?</button>

<div id='show_box' class='p-2 hidden'>
Losers of Near-Kyiv was specifically written as a concept for a comedic episodic animated webshow, yes! <br>
however, it was always, well, that: a concept. the author didn't plan to make it into something real: simply drew and shared these characters online.<br>
over the years though, the concept recieved <b>EXTREME POSITIVE RECEPTION</b> and it encouraged creation of what you see here as LoNK: the webcomic!<br>
to create a real animated show, even if it didn't adhere to standards of TV-grade animation, is <b>EXTREMELY COMPLICATED</b>, takes <b>A LOT OF MONEY, TIME, AND PEOPLE</b>. it's not something that's possible to do easily, and <i>maybe Losers of Near-Kyiv will stay a silly little comic forever.</i><br>
if not...<br>
then not! there is a lot that can be done, and no one can know the future.<br>
one of avrum's current dreams is one day <b>CREATING AN OFFICIAL COMIC DUB</b> for this : it would be one step to eventually becoming a <b>REAL WEBSERIES</b>, but these, too, are somewhat far away plans!<br>
and if you're one of people who would LOVE it to one day become an animated show... <a href='{{"/"| locale_url}}help_us.html'>consider helping us out!</a>
</div>

<button id='sup' onclick='showBox("sup");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>💖 how can i support the project?</button>

<div id='sup_box' class='p-2 hidden'>
aw, that's so sweet of you! there are many ways you can do that, <a href='{{"/"| locale_url}}help_us.html'> all being outlined in a dedicated page.</a> also, if you loved it, maybe you should <a href='{{"/"| locale_url}}community.html'>see what others are doing</a>  , and <a href='{{"/"| locale_url}}community.html'>do something fun as well</a>!  
</div>

<button id='asking' onclick='showBox("asking");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>❔ can i ask something about the story or characters?</button>

<div id='asking_box' class='p-2 hidden'>
you sure can, using either the e-mail <b>(losers.of.near.kyiv (at) gmail (dot) com)</b> or using <a href='https://www.tumblr.com/losers-of-near-kyiv'>our tumblr ask feature</a>! 💖 the LoNK team will have a lot of fun with it. <br><br>
remember: a lot of the story has not been revealed to the audience yet, so some questions may not be answered on the basis of them being spoilery or simply shown in the comic soon enough. also, everything randomly asked is counted as CONCEPTS/DUBIOUSLY CANON before it's in the story itself.
<br><br>
if it is more of a question regarding writing, production, or something like asking for queer advice, please contact avrum directly, either through aforementioned e-mail addressed or <a href='https://www.tumblr.com/blog/avrum-posts-stuff'>a▾rum's personal tumblr account.</a>
<p>remember to be civil! 💖 trolling and harassment will not be tolerated or treated seriously</p>
</div>

<button id='typo' onclick='showBox("typo");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>❌ i noticed a typo in the comic or a broken feature...</button>

<div id='typo_box' class='p-2 hidden'>
<b>oh shit, for real?</b><br>
that's common. i do not always notice such stuff, so i appreciate it if someone else does. <br>
please, contact us via our email <b>(losers.of.near.kyiv (at) gmail (dot) com)</b>!
</div>

<button id='indie' onclick='showBox("indie");' class='my-0.5 button-none text-left w-full text-dark-force hover:bg-rose-400 bg-rose-300 p-2 font-bold'>wait. was it all made by ONE PERSON..?</button>

<div id='indie_box' class='p-2 hidden'>
oh. yeah. uh. you see the credits? in strictest sense, Losers of Near-Kyiv is an extremely indie project, made only by a▾rum and no one else, since all of the DIRECT work on the comic (as well as the website) was handled by them (aka, by me, who's currently using third person pronouns to sound more mysterious LMAO).
<br>
however...<br>
in my book, Losers of Near-Kyiv <b>IS</b> a group effort! <br>
it would never exist if not for support from other people, silly conversations, random brainstorming and the like. and whenever i need to think of something for this wonderful story, i always reach out to my friends and other people for help!<br>
<b>LoNK team</b> isn't a specific entity: it is simply people who surround me in life (although if you need specification, there is a secret private discord server where decisions on LoNK are made, haha!)
</div>







</section>
</div>

