<div class='flex flex-col flex-center w-full md:w-5/6 '>



<!-- MUSIC PLAYER -->
<div class='text-black w-full'>
<audio id='music' loop></audio>
<!--
<button onclick='pauseAudio();'>pause music (PLACEHOLDER)</button>
-->
</div>

<!-- THE BOX WITH THE GAME -->
<div id='gamebox_LOAD' class='bg-white w-full h-[50vh] text-black font-bold'>THE PAGE IS LOADING. PLEASE BE PATIENT!</div>
<div class='bg-black text-light-force border-t-2 border-dashed w-full py-1 px-2 text-center'>  <small> [ CLICK ON THE GAME OR PRESS z TO ADVANCE THE DIALOGUE . WHEN YOU'RE READY TO MOVE ON, PICK THE OPTION WITH ➡️ ] </small></div>

<section  id='gamebox' style='background-image: url("{{'/'}}imgs/comics_1_game/_.png");' class='bg-contain relative flex flex-col w-full h-full bg-white aspect-3/2 text-dark-force '>

<!-- NEXT BUTTON. ONCLICK OF THE GAME BASICALLY -->

<button class='z-15 button-none absolute h-full w-full' onclick='next_dialogue();' id='nextAction'></button>

<!-- DIMA BUBBLES -->

<div id='d_thought' style='' class='z-9 bg-size-[70%] absolute  top-[0%] left-[0%] md:left-[2%]  w-full md:top-[2%] md:w-[38%] p-2 text-[0.8em] md:text-[0.94em] font-bold md:text-[1.45vw] text-black'>
DIMA THOUGHT</div>


<div id='d_text' class='z-9 dima-border inline-block skew-x-2 skew-y-1 bg-paper-force bg-size-[70%] bg-white absolute left-[3%] top-[55%] w-[35%] p-4  md:text-[1.45vw] font-bold text-black'>
DIMA TEXT</div>

<!-- ACRYL BUBBLES -->

<div id='a_text' class='z-9 acryl-border bg-paper-force bg-size-[70%] bg-white absolute right-[2%] top-[7%] w-[45%] p-4 -skew-y-3 skew-x-2 *:-skew-x-2 *:skew-y-3 md:text-[1.45vw] font-bold text-black'>
ACRYL TEXT
</div>


<!-- SPRITE BOXES -->

<div style='background-image: url("{{'/'}}imgs/comics_1_game/d_neu.png")' id='d_exp' class='z-2 absolute w-full h-full bg-size-[100%_100%] top-0 left-0'>

<div id='d_exp_new' class='z-3 absolute top-0 left-0 w-full h-full bg-size-[100%_100%]'>
</div>

</div>

<div style='background-image: url("{{'/'}}imgs/comics_1_game/a_l_neu.png")' id='a_exp' class='z-4 absolute w-full h-full bg-size-[100%_100%] top-0 left-0'>

<div id='a_exp_new' class='z-5 absolute top-0 left-0 w-full h-full bg-size-[100%_100%]'>
</div>

</div>


<!-- CHOICES LIST -->

<div id='choices_list' class='z-50 flex flex-col *:w-full border-black-600 bg-white border-4 absolute right-[8%] bottom-[5%] w-[60%] p-2 text-[0.95em] *:!bg-none rainbow-order-hover text-dark'>

</div>

</section>

<!-- DOWN NOTE -->

<div id='d_text_mobile' class='z-9 text-black dima-border text-[0.9em] inline-block skew-x-1 skew-y-1 bg-paper-force bg-size-[70%] bg-white w-full p-4  font-bold '>
DIMA TEXT</div>

<div id='a_text_mobile' class='z-9 text-black acryl-border text-[0.9em] inline-block bg-paper-force bg-size-[70%] bg-white w-full p-4 -skew-y-1 skew-x-1  font-bold'>
ACRYL TEXT
</div>


<div id='choices_list_mobile' class='z-50 flex flex-col *:w-full border-black-600 bg-white border-4 w-full p-2 text-[0.95em] *:!bg-none rainbow-order-hover text-dark'>

</div>

</div>



<script>

function isMobile() {
  const minWidth = 768; // Minimum width for desktop devices
  return window.innerWidth < minWidth || screen.width < minWidth;
}

if (isMobile()) {
  document.getElementById('choices_list').remove();
   document.getElementById('d_text').remove();
  document.getElementById('a_text').remove();
    document.getElementById('d_text_mobile').id='d_text';
  document.getElementById('a_text_mobile').id='a_text';

  document.getElementById('choices_list_mobile').id='choices_list';
} else {
  document.getElementById('choices_list_mobile').remove();
   document.getElementById('d_text_mobile').remove();
  document.getElementById('a_text_mobile').remove();

}

// MUSIC SECTION
var musicc = document.getElementById("music"); 

function playAudio(iddd) {
  // "mondayhopes_oj_on_the_table.mp3"
  musicc.src="{{'/'|url}}sounds/" + iddd;  
  musicc.volume=0;
  musicc.play(); 
  $('#music').animate({volume: 0.065}, 1000);
} 

function pauseAudio() { 
 $('#music').animate({volume: 0}, 1000);
					setTimeout(
					function() 
					{
   musicc.pause(); 

					}, 1010);

} 

// PRESET VARIABLES


let start_choices=[
{title: "the rules page", act:"rules_dialogue"},
{title: 'name "acryl"', act:"name_dialogue"},
{title: "art major", act:"art_dialogue"},
{title: "hobbies", act:"hobbies_dialogue"},
{unlockable: true, title: "your leg", act:"leg_dialogue"},
{unlockable: true, title: "whom were you waiting for at the door? ➡️", act:"door_dialogue"},
];

let theatre_choices=[
{title: "THEATER", act:"theatre_dialogue"}, //this is so fucking funny
];

let gf_choices=[
{title: "lie to him about your girl friend you fake dated for a day when you were younger <br>(she was totally my real girlfriend)", act:"lie_dialogue"}, 
{title: "tell him the truth about your girl friend you fake dated for a day when you were younger<br>(i never actually had a girlfriend)", act:"truth_dialogue"}, 
];

let start_dialogue=[
{ per:'dt', text:"i do NOT know how to talk to people. <small>help.</small>", d_exp:'neu' }, //dt = dima thought ; d = dima ; a = acryl 
{ per:'a', text:"keep staring at me, huh?", d_exp:'worry_a_talk', a_exp:'l_tease_talk', musicPlay:"mondayhopes_oj_on_the_table.mp3"},
{ per:'d', text:"i...", d_exp:'worry_talk', a_exp:'l_neu'},
{ per:'dt', text:"how do you even reply to something like that?", hide:['#d_text'],  d_exp:'worry_blush'},
{ per:'a', text:"come on. if you wanna talk, just talk. it's simple!", a_exp:'l_close_talk', hide:["#d_thought"], d_exp:'worry_a_blush'},
{ per:'dt', text:"...", d_exp:'worry_blush', a_exp:'l_neu'},
{ per:'dt', text:"i guess i <i>could</i> try to get to know him better...", d_exp:'worry_blush'},
{ per:'dt', text:"i guess i <i>could</i> try to get to know him better... <br> what do i ask though?"},
{ choices: start_choices }
];

let rules_dialogue=[
{ per:'d', text:"what's with the rules page?", d_exp:'neu_talk', a_exp:'l_neu'},
{ per:'a', text:"wow, you actually care about the paper? hm. well...", d_exp:'neu', a_exp:'r_surprised'},
{ per:'a', text:"it was a set of guidelines <u class='decoration-misha'>misha</u> wrote.", a_exp:'r_neu_talk'},
{ per:'d', text:"i know that, but...", d_exp:'neu_talk', a_exp:'r_neu'},
{ per:'d', text:"i know that, but...<br>why did you draw over it.", hide:['#a_text'], d_exp:'worry_a_talk'},
{ per:'a', text:"just needed to let my feelings out.", d_exp:'worry_a', a_exp:'r_neu_talk'},
{ per:'a', text:"just needed to let my feelings out. <br> couldn't think of anything more symbolic than taking the rules page.", d_exp:'neu'},
{ per:'d', text:"i see.", d_exp:'neu_talk', a_exp:'r_neu'},
{ per:'a', text:"and to be fair? ", d_exp:'neu', hide:['#d_text'], a_exp:'l_annoyed'},
{ per:'a', text:"and to be fair? <br> it's so long, dude. i'm not sure anyone's actually reading it."},
{ per:'dt', text:"i'd disagree and say i'd read it, but...", a_exp:'l_bored'},
{ per:'dt', text:"i'd disagree and say i'd read it, but...<br> truth to be told, i'm dyslexic...", d_exp:'worry_blush'},
{ per:'d', text:"what's gonna happen to it now?", d_exp:'neu_talk', hide:['#d_thought']},
{ per:'a', text:"i dunno. my bet is that misha's going to rewrite it from scratch.", a_exp:'l_close_talk', d_exp:'neu'},
{ per:'dt', text:"from <b>SCRATCH??</b>", d_exp:'amused', a_exp:'l_close', hide:['#d_text']},
{ choices: start_choices, unlock:"door_dialogue"},

]


let name_dialogue=[
{ per:'d', text:"so... acryl.", d_exp:'neu_talk', a_exp:'l_neu'},
{ per:'a', text:"yea?", d_exp:'neu', a_exp:'l_neu_talk'},
{ per:'d', text:"<u class='decoration-acryl'>acryl</u> is...", d_exp:'neu_talk', a_exp:'l_neu'},
{ per:'d', text:"<u class='decoration-acryl'>acryl</u> is... obviously a nickname."},
{ per:'d', text:"<u class='decoration-acryl'>acryl</u> is... obviously a nickname.<br> you're a painter. it's like the paint.", d_exp:'neu_talk'},
{ per:'d', text:"what's your, uh..."},
{ per:'d', text:"what's your, uh... <b><i>REAL</i></b> name?", d_exp:'worry_a_gasp'},
{ per:'a', text:"it's acryl.", d_exp:'worry_a', a_exp:'l_neu_talk' },
{ per:'d', text:"it... isn't.", d_exp:'worry_a_talk', a_exp:'l_bored'},
{ per:'a', text:"dude, <b>everyone</b> calls me acryl. <br> even misha.", d_exp:'worry_a', a_exp:'l_annoyed' },
{ per:'a', text:"dude, <b>everyone</b> calls me acryl. <br> even misha. <br> sooo, that's what my name is."},
{ per:'dt', text:"he really doesn't want to tell it, huh...", hide:['#d_text'], a_exp:'l_bored' },
{ per:'dt', text:"maybe his actual name just sounds too foreign for people so he prefers a nickname.", d_exp:'worry'},
{ per:'dt', text:"i could sympathize."},

{ choices: start_choices, unlock:"door_dialogue" },

]

let art_dialogue=[
{ per:'d', text:"you... study graphic design?", d_exp:'neu_talk', a_exp:'l_okay'},
{ per:'d', text:"that's... uh. i think it's... kind of cool, actually.", d_exp:'worry_talk'},
{ per:'a', text:"ohh, yea, no.", a_exp:'r_annoyed'},
{ per:'a', text:"im flattered, but to be real, i don't really like it.", hide:['#d_text']},
{ per:'d', text:"what?", d_exp:'amused', a_exp:'l_bored'},
{ per:'a', text:"graphic design IS &quot; cool &quot; , but... it's not where my passion really is at.", a_exp:'l_annoyed', d_exp:'worry_a'},
{ per:'d', text:"then... where...?", d_exp:'worry_a_talk'},
{ per:'a', text:"<b>THEATER</b>, dude.", a_exp:'l_excited_talk', d_exp:'worry_a'},

{ choices: theatre_choices, a_exp:'l_excited',},

]


let theatre_dialogue=[
{ per:'a', text:"acting.", a_exp:'l_excited_talk'},
{ per:'a', text:"acting. movies."},
{ per:'a', text:"acting. movies. stage plays. "},
{ per:'a', text:"acting. movies. stage plays. musicals."},
{ per:'a', text:"acting. movies. stage plays. musicals. <br> oh my fucking god. i <b>love</b> musicals."},
{ per:'a', text:"any that YOU know?", a_exp:'l_close_talk',},
{ per:'dt', text:"literally none. zero. <br> zero. zero. none.", d_exp:'worry', a_exp:'l_close',},
{ per:'dt', text:"actually, wait, i think...", d_exp:'worry_a', a_exp:'l_neu'},
{ per:'d', text:"dizney counts, right? ", d_exp:'worry_a_talk'},
{ per:'a', text:"there's no way dizney COULDN'T count, man.", d_exp:'worry_a', a_exp:'l_tease_talk', hide:['#d_thought']},
{ per:'a', text:"don't know anyone who could resist a good dizney song."},
{ per:'d', text:"...", hide:["#a_text"], a_exp:'l_tease'},
{ per:'d', text:"...if you love theater so much, why didn't you just...", d_exp:'worry_talk'},
{ per:'d', text:"...if you love theater so much, why didn't you just...<br>pick it as your major?", a_exp:'l_bored', d_exp:'worry_a_talk'},
{ per:'a', text:"oh. yeah. funny thing.", a_exp:'l_annoyed', d_exp:'worry_a'},
{ per:'a', text:"the leg.", a_exp:'r_annoyed', hide:["#d_text"], d_exp:'worry_a_talk'},
{ per:'dt', text:"<b>shit</b>. i could've guessed...", d_exp:'worry_talk'},
{ choices: start_choices, unlock:"leg_dialogue", a_exp:'l_bored'},

]

let hobbies_dialogue=[

{ per:'d', text:"what kind of... stuff do you like?", d_exp:'neu_talk'},
{ per:'a', text:"oh, literally anything.", a_exp:'l_okay_talk', d_exp:'neu'},
{ per:'a', text:"well not, literally anything...?", a_exp:'r_neu_talk',},
{ per:'a', text:"a lot of things.", a_exp:'l_neu_talk'},
{ per:'a', text:"fashion. "},
{ per:'a', text:"fashion.  art. "},
{ per:'a', text:"fashion.  art. theater. "},
{ per:'a', text:"fashion.  art. theater. astronomy."},
{ per:'a', text:"astrology also-"},
{ per:'a', text:"astrology also- just as a hobby, though.", a_exp:'r_neu_talk',},
{ per:'a', text:"watching anime.", a_exp:'l_neu_talk',},
{ per:'a', text:"watching anime. watching movies."},
{ per:'a', text:"watching anime. watching movies. playing videogames."},
{ per:'a', text:"you know. nothing special."},

{ per:'a', text:"but i bet you...", a_exp:'l_tease_talk'},

{ per:'a', text:"but i bet you... probably got some kinda unique interest nobody knows about?", a_exp:'r_close_talk'},

{ per:'dt', text:"um.", d_exp:'worry_a', a_exp:'l_close'},
{ per:'dt', text:"what do i tell him about? "},
{ per:'dt', text:"what do i tell him about? that i liked my little horses when i was a kid?", d_exp:'worry'},

{ per:'d', text:"i got nothing.", d_exp:'worry_talk', a_exp:'l_tease'},

{ per:'a', text:"...", d_exp:'worry_a_blush'},

{ per:'dt', text:"fuck."},
{ per:'dt', text:"fuck. <br>he can tell im being dishonest."},

{ per:'dt', text:"i'm too easy to read."},

{ per:'d', text:"what videogames you like?", d_exp:'worry_a_talk', a_exp:'l_bored'},

{ per:'a', text:"first person shooters, baby!", a_exp:'l_close_talk', d_exp:'worry_a'},

{ per:'dt', text:"oh. he's into THESE kinda videogames.", a_exp:'l_okay'},

{ per:'dt', text:" fuck.", d_exp:'worry'},

{ per:'dt', text:"i'm too anxious for these."},

{ per:'a', text:"and stuff like buildblock too.", a_exp:'l_neu_talk', d_exp:'worry_a'},

{ per:'d', text:"oh good.", d_exp:'neu_talk', a_exp:'l_neu'},

{ per:'d', text:"i love buildblock."},

{ per:'a', text:"i could set us up a server..?", a_exp:'l_tease_talk', d_exp:'neu', saveCookie:'intro_buildblock_unlocked'},

{ per:'dt', text:"this guy really knows how to make friends.", a_exp:'l_tease', d_exp:'smile'},

{ choices: start_choices, unlock:"door_dialogue"},

]

let leg_dialogue=[

{ per:'d', text:"your leg...", d_exp:'worry_talk',  a_exp:'l_bored'},
{ per:'d', text:"how did... this... happen?", d_exp:'worry_a_talk',  a_exp:'l_bored'},
{ per:'a', text:"can't tell you.", musicPause:true, d_exp:'worry_a_gasp',  a_exp:'l_annoyed'},
{ per:'d', text:"wha- why not?", d_exp:'amused', a_exp:'l_bored'},
{ per:'a', text:"it's a fun mystery about me, isn't it? ", d_exp:'worry_a_talk', a_exp:'r_close_talk'},
{ per:'a', text:"oooh, what does this guy have with his leg, was it an accident or was it...", a_exp:'r_neu_talk', d_exp:'worry_a'},
{ per:'a', text:"oooh, what does this guy have with his leg, was it an accident or was it... <i>something more...?</i>", a_exp:'l_tease_talk'},

{ per:'a', text:"we only met a minute ago, but you're already curious about me~", a_exp:'l_close_talk'},
{ per:'a', text:"we only met a minute ago, but you're already curious about me~ <br> would i want to take this away?", a_exp:'l_neu_talk'},

{ per:'d', text:"i'm just...", d_exp:'worry_a_talk', a_exp:'l_neu'},
{ per:'dt', text:"worried?", d_exp:'worry'},

{ per:'a', text:"if you REALLY want to know, i'll tell you. eventually.", d_exp:'worry_a', a_exp:'l_okay_talk'},

{ per:'dt', text:"...as long as your doctor knows, i guess.", musicPlay:"mondayhopes_oj_on_the_table.mp3", d_exp:'worry', a_exp:'l_okay'},

{ choices: start_choices, unlock:"door_dialogue"},

]

let door_dialogue=[

{ per:'d', text:"whom were you waiting for at the door?", d_exp:'worry_a_talk'},
{ per:'a', text:"huh?", d_exp:'worry_a', a_exp:'l_bored'},
{ per:'d', text:"when i only came in here, you were waiting for someone.", a_exp:'l_bored', d_exp:'worry_a_talk'},
{ per:'a', text:"...oh! my ex!", d_exp:'worry_a', a_exp:'r_surprised'},
{ per:'d', text:"your ex?", d_exp:'worry_a_talk', a_exp:'r_annoyed'},
{ per:'a', text:"yeah, had a rough break up recently.", d_exp:'worry_a'},
{ per:'a', text:"yeah, had a rough break up recently. <br>  i thought she was super nice and cool, but she left me."},
{ per:'a', text:"but like, it's been several days and i kept expecting for her to come back and give me my stuff i left at her place back, and she just...", a_exp:'r_annoyed'},
{ per:'a', text:"... doesn't?"},

{ per:'d', text:"...darn.", a_exp:'r_bored', d_exp:'worry_a_talk'},
{ per:'a', text:"how's girls like for you?", a_exp:'l_neu_talk', musicPause:true, d_exp:'worry_a_gasp'},
{ per:'d', text:"what?", a_exp:'l_tease'},
{   per:'a', text:"come on, no way someone like you WOULDN'T have a girlfriend. *wink*", a_exp:'l_tease_talk'},
{ per:'d', text:"uh- i-", d_exp:'worry_gasp', a_exp:'l_tease'},
{ musicPlay: "michelcMusic_stranger.wav", per:'dt', text:"GIRLFRIEND. GIRLFRIEND? I NEVER HAD A GIRLFRIEND. FUCK. WHAT DO I DO.", d_exp:'amused'},

{  choices: gf_choices },
]

let lie_dialogue=[

{ per:'d', text:"i... was with someone when i was younger.", d_exp:'worry_gasp'},
{ per:'a', text:"really?", d_exp:'worry', a_exp:'l_neu_talk'},
{ musicPause:true, per:'d', text:"yeah. she was my friend, but...", d_exp:'worry_a_gasp', a_exp:'l_neu'},
{ per:'d', text:"yeah. she was my friend, but...<br>we broke up.",  d_exp:'worry_a_talk', achDisplay:"ach_intro_lie"},
{ per:'d', text:"truth to be told, it wasn't a real--"},
{ per:'d', text:"truth to be told, it wasn't a real-- uh-", a_exp:'l_tease', d_exp:'worry_gasp'},
{ per:'d', text:"truth to be told, it wasn't a real-- uh- <br> it wasn't a real long-term relationship.", d_exp:'worry_a_talk', a_exp:'l_neu',},
{ per:'d', text:"i've never had a...", d_exp:'worry_a_gasp'},
{ per:'d', text:"i've never had a... proper...", d_exp:'worry_a_talk'},
{ per:'d', text:"i've never had a... proper... girlfriend."},
{ per:'a', text:"hm. then...", a_exp:'l_bored', d_exp:'worry_a'},
{ per:'a', text:"how's its like with guys for you?", a_exp:'l_close_talk'},
{ per:'d', text:"i...", a_exp:'l_tease', d_exp:'neu_talk'},
{ per:'d', text:"wait.", d_exp:'neu'},
{ per:'d', text:" "},
{ per:'d', text:" are you asking me if im gay.", d_exp:'worry_a_talk'},

{ per:'a', text:"oh.", a_exp:'r_surprised', d_exp:'worry_a'},
{ per:'a', text:"um."},
{ per:'a', text:"y", a_exp:'final1'},
{ per:'a', text:"you"},
{ per:'a', text:"youu"},
{ per:'a', text:"youuu", d_exp:'amused'},
{ per:'a', text:"youuuuu", a_exp:'final2'},
{ per:'a', text:"youuuuuuu"},
{ per:'a', text:"youuuuuuu ar"},
{ per:'a', text:"youuuuuuu arenn"},
{ per:'a', text:"youuuuuuu arenn'tt"},
{ per:'a', text:"youuuuuuu arenn'ttttt" , a_exp:'final3'},
{ per:'a', text:"youuuuuuu arenn'tttttttttt...?", d_exp:'amused'},

{ done: true },

]


let truth_dialogue=[

{ per:'d', text:"i... was with someone when i was younger.", d_exp:'worry_a_gasp'},
{ per:'a', text:"really?", d_exp:'worry_a',  a_exp:'l_neu_talk'},
{ musicPause:true, per:'d', text:"yeah. but not...", d_exp:'worry_a_talk',  a_exp:'l_neu'},
{ per:'d', text:"yeah. but not... not for real.", d_exp:'worry_talk', achDisplay:"ach_intro_truth",  a_exp:'l_bored'},
{ per:'d', text:"she was just my friend, and i... "},
{ per:'d', text:"she was just my friend, and i... wanted to prove myself, i guess?", d_exp:'worry_a_gasp'},
{ per:'d', text:"so we pretended to be a couple once. but...", d_exp:'worry_a_talk'},
{ per:'d', text:"i've never had a..."},
{ per:'d', text:"i've never had a... proper...", d_exp:'worry_talk'},
{ per:'d', text:"i've never had a... proper... girlfriend."},
{ per:'a', text:"hm. then... i wonder...", a_exp:'r_surprised'},
{ per:'a', text:"is it any better with guys for you?", a_exp:'l_close_talk'},
{ per:'d', text:"i...", a_exp:'l_neu', d_exp:'neu_talk'},
{ per:'d', text:"wait.", d_exp:'neu'},
{ per:'d', text:" "},
{ per:'d', text:" are you asking me if im gay.", d_exp:'worry_a_talk'},

{ per:'a', text:"oh.", a_exp:'r_surprised', d_exp:'worry_a'},
{ per:'a', text:"um."},
{ per:'a', text:"y", a_exp:'final1'},
{ per:'a', text:"you"},
{ per:'a', text:"youu"},
{ per:'a', text:"youuu", d_exp:'amused'},
{ per:'a', text:"youuuuu", a_exp:'final2'},
{ per:'a', text:"youuuuuuu"},
{ per:'a', text:"youuuuuuu ar"},
{ per:'a', text:"youuuuuuu arenn"},
{ per:'a', text:"youuuuuuu arenn'tt"},
{ per:'a', text:"youuuuuuu arenn'ttttt" , a_exp:'final3'},
{ per:'a', text:"youuuuuuu arenn'tttttttttt...?", d_exp:'amused'},
{ done: true },


]

//PLEASE INCLUDE HOBBIES DIALOGUE

// CHOICES ENGINE 

function generateChoices(current_choices){


const choicebox = document.getElementById('choices_list');
choicebox.innerHTML=''; // clearing the box of all options

for (const choice of current_choices) {
  const newButton = document.createElement("button");  
  let new_act='hideAllFast(); currDialogueCount=0; currDialogueBranch='+choice.act+'; currDialogueBranchName="'+ choice.act +'"; next_dialogue();'
  newButton.setAttribute("onClick", new_act);
  newButton.innerHTML=choice.title;
  choicebox.appendChild(newButton);
  
  let temporary = (choice.act).toString();
  
  
  if (choice.unlockable){
  
  let temporary_2=temporary+'_unlocked';
  if( (localStorage.getItem(temporary_2))=='true'){
  newButton.classList.remove('hidden');
  newButton.classList.add('block');
  }else{
  newButton.classList.add('hidden');
  newButton.classList.remove('block');
  }
  }
  
  
  console.log(temporary+' < is temporary');
  
  console.log(localStorage.getItem(temporary) + ' < is the data we get from temporary')
  if( (localStorage.getItem(temporary))=="true" ){
  newButton.classList.add('hidden');
  newButton.classList.remove('block');

  }
  
  
  }
  
  
  
}


// WEBSITE LOAD FUNCTION:

document.addEventListener( "DOMContentLoaded", function(){

localStorage.setItem("start_dialogue", false);
localStorage.setItem("rules_dialogue", false);
localStorage.setItem("name_dialogue", false);
localStorage.setItem("art_dialogue", false);
localStorage.setItem("hobbies_dialogue", false);

localStorage.setItem("theatre_dialogue", false);

localStorage.setItem("lie_dialogue", false);
localStorage.setItem("truth_dialogue", false);


localStorage.setItem("leg_dialogue_unlocked", false);
localStorage.setItem("leg_dialogue", false);

localStorage.setItem("door_dialogue", false);
localStorage.setItem("door_dialogue_unlocked", false);



hideAllFast();

next_dialogue();

});


// ON ENTER

window.addEventListener("keydown", function(e) {
  if (e.code === "KeyZ") {
    e.preventDefault();
    document.getElementById("nextAction").click();
	
  }else if (e.key === "z"){
      e.preventDefault();
    document.getElementById("nextAction").click();

  }
}); 


function hideAllFast(){

$("#choices_list").hide();
$("#d_thought").hide();
$("#d_text").hide();
$("#a_text").hide();

}

function hideAll(){

$("#choices_list").fadeOut(500);
$("#d_thought").fadeOut(500);
$("#d_text").fadeOut(500);
$("#a_text").fadeOut(500);

}

// nextAction

let currDialogueBranch=start_dialogue;
let currDialogueBranchName="start_dialogue";
let currDialogueCount=0;

function next_dialogue(){
if (currDialogueCount < currDialogueBranch.length){
text_Engine(currDialogueCount);

currDialogueCount+=1;
}

}


// TEXT ENGINE HELLO BBG!


function text_Engine(key){
			let line = currDialogueBranch[key];
			
			// DETERMINES WHO SPEAKS
			
			if (line.per == 'dt') {
					$("#d_thought").fadeIn(500);
					$("#d_thought").html('('+line.text+')');
			}else if(line.per == 'd'){
					$("#d_text").fadeIn(500);
					if (isMobile()) {
					$("#d_text").html('DIMA: '+line.text);					
					}else{
					$("#d_text").html(line.text);
					}

			}else if(line.per == 'a'){
					$("#a_text").fadeIn(500);
					if (isMobile()) {
					$("#a_text").html('ACRYL: '+line.text);					
					}else{
					$("#a_text").html(line.text);
					}					
			}
			
			
			// CHECKS ADDITIONAL SETTINGS
			
			
				if (line.hide) { // this gotta be an array btw
					for (var i in line.hide) {
						console.log(line.hide[i]);
						$(line.hide[i]).stop();
						$(line.hide[i]).fadeOut(500);
					}
				}
				
				
				if (line.d_exp) { 
				
				//					$("#d_exp").addClass('squishing');

					$("#d_exp_new").fadeOut(0);
					document.getElementById('d_exp_new').style.backgroundImage="url( {{'/' | url}}" + "imgs/comics_1_game/d_" + line.d_exp +".png " + ")";
					
					$("#d_exp_new").fadeIn(105);

					setTimeout(
					function() 
					{
						document.getElementById('d_exp').style.backgroundImage="url( {{'/' | url}}" + "imgs/comics_1_game/d_" + line.d_exp +".png " + ")";

				// 					$("#d_exp").removeClass('squishing');
					}, 80); 
				}
				
				if (line.a_exp) { 
					$("#d_exp_new").fadeOut(0);
					document.getElementById('a_exp_new').style.backgroundImage="url( {{'/' | url}}" + "imgs/comics_1_game/a_" + line.a_exp +".png " + ")";
					
					$("#a_exp_new").fadeIn(105);

					setTimeout(
					function() 
					{
						document.getElementById('a_exp').style.backgroundImage="url( {{'/' | url}}" + "imgs/comics_1_game/a_" + line.a_exp +".png " + ")";

					}, 80);
					  
				}
		
		
			if (line.unlock) {
				let temporaryy = (line.unlock.toString()+'_unlocked');
				localStorage.setItem(temporaryy, true);
			}
			
			if (line.choices) {
					$("#choices_list").fadeIn(2000);
					generateChoices(line.choices);
			}
			
			
			if (line.saveCookie) {
				let temporaryy = (line.saveCookie.toString());
				localStorage.setItem(temporaryy, true);
			}
			
			if (line.achDisplay){
					showNewAchievement(line.achDisplay);
			}
			
			
			if (line.musicPause){
			pauseAudio();
			}
			
						
			if (line.musicPlay){
			playAudio(line.musicPlay)			
}
			
			if (line.done) {
			window.location.href = "./31.html";
			}
			
			
			if (currDialogueCount==0) {
			localStorage.setItem(currDialogueBranchName, false);
			}
			
			if (currDialogueCount>0) {
			localStorage.setItem(currDialogueBranchName, true);
			}
			
}
</script>



<!-- PRELOAD IMAGES -->
<div class='opacity-[1%]' id='preload_img'>
<img src='{{'/' | url}}imgs/comics_1_game/d_amused.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_neu.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_neu_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_neu_gasp.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_blush.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_gasp.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_smile.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_smile_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_a_blush.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_a_gasp.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_a.png'>
<img src='{{'/' | url}}imgs/comics_1_game/d_worry_a_talk.png'>

<img src='{{'/' | url}}imgs/comics_1_game/a_final1.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_final2.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_final3.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_annoyed.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_bored.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_close.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_close_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_excited.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_excited_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_neu.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_neu_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_okay.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_okay_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_tease.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_l_tease_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_r_annoyed.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_r_bored.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_r_neu.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_r_neu_talk.png'>
<img src='{{'/' | url}}imgs/comics_1_game/a_r_surprised.png'>

<script>
//LOADING SCRPTPTTT
var boxess=document.getElementById('preload_img');

var gamebox=document.getElementById('gamebox');

var gameLOAD=document.getElementById('gamebox_LOAD');


document.addEventListener("DOMContentLoaded", (event) => {
  console.log("DOM fully loaded and parsed");
  gamebox.style.display='none';
  gameLOAD.style.display='block';
});

window.addEventListener("load", (event) => {
  console.log("page is fully loaded");
  gameLOAD.style.display='none';
  gamebox.style.display='block';
  boxess.style.display='none';
});

</script>


</div>
