

<div class='w-full bg-light text-[0.95em] p-2'>🇺🇦 не знаєш англійську? не хвилюйся: сайт скоро буде доступним рідною солов'їною ! </div>

<div class='w-full md:flex-row flex-col min-h-50 bg-white flex-center'>

<img class='w-full md:w-2/3 bg-white object-cover object-[0%_10%] h-32 md:h-62' src='{{"/"|url}}imgs/seasonal/jolly.jpg'>

<p class='w-full md:w-1/3 font-sans p-2 text-dark-force'><b class='text-[1.2em] jolly-text'>JOLLY SEASON!</b><br>celebrate THE WINTER HOLIDAYS by gifting your loved ones the gift they expect the least: <span class='text-red-700'>L</span><span class='text-orange-600'>o</span><span class='text-lime-700'>N</span><span class='text-blue-700'>K</span>. <small>share the link to the website with JUST ONE PERSON to help!!!</small><br>
<small><a href='https://impactful.ninja/best-charities-for-ukraine'>also, hey: consider donating to a charity, like for real. 💛💙</a></small>
</p>
</div>


<div class='w-full bg-darkpaper bg-size-[300px] flex-center flex-col'>


<section aria-label="Read Losers of Near-Kyiv" class='w-full flex-col flex-center '>

<h1 class='text-outline text-white font-cmu font-black text-center text-[4em]'>LATEST ISSUE:</h1>

<div class='flex flex-col md:flex-row flex-center gap-2 w-full'>
<div class='relative h-[400px] bg-cover w-[95%] md:w-1/2 bg-blue-300' style='background-image: url(../imgs/comics_1/2.png)'>

<div class='absolute bottom-0 right-0 bg-white bg-linear-to-t from-dark-force to-white/5 opacity-50 w-full h-full '></div>
<a href='{{ "/" | url }}en/comics/comics_1/1.html' class='button absolute bottom-0 right-0 m-4'>READ THE COMIC</a>
<a href='{{ "/" | url }}en/comics/comics_1/1.html' class='absolute text-white bg-black top-0 left-0 m-4'>ISSUE #1</a>
</div>


<div class='h-[200px] md:h-[400px] md:w-[24%] bg-dark-force text-white p-2'>


<div class='text-[0.95em]'>
thanks for
<span=''><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-82416A8DwWz2zzz3-3.gif' class='inline' border='0' alt='web counter free'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=82416A8DwWz2zzz3'></script></span>
website views!
</div>

<h1 class='font-block leading-none bg-black w-full'><span class='text-red-500'>WEB</span><span class='text-orange-300'>SITE</span><br> <span class='text-green-500'>UPDA</span><span class='text-cyan-500'>T</span><span class='text-blue-500'>ELOG</span>:</h1>

<div class='overflow-y-scroll max-h-[100px] md:max-h-[13em]'>
{%include 'updatelog.njk'%}
</div>

</div>

</div>


<p class='text-[1.3em] w-full block bg-dark-force text-center text-white my-4 font-bold'>
comic? on the front page?
<br>
it's more likely than you'd think! 
</p>

<div class='flex flex-row gap-5 my-2'>
<div aria-hidden="true" class="stamp_container"><a alt='' href="https://www.deviantart.com/skystamps/art/crayon-1061683283"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b7f951c8-afc7-4872-9d0a-3cca2d5bb633/dhk3k2b-9bd9a4bd-66c4-435c-82c5-75ce8762e3ab.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9iN2Y5NTFjOC1hZmM3LTQ4NzItOWQwYS0zY2NhMmQ1YmI2MzMvZGhrM2syYi05YmQ5YTRiZC02NmM0LTQzNWMtODJjNS03NWNlODc2MmUzYWIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-iRfxdW1aaf0BmFDorH_uJOj64dO6zv5Co96EuhAAm8"></a></div>
<div aria-hidden="true" class="stamp_container"><a alt='' href="https://www.deviantart.com/puniplush/art/Rainbow-Stickers-Stamp-645729509"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c694ef0-ce82-461b-9e43-ea953fddf162/daog82t-1b04bdd3-ba10-469b-9944-c5796a5772c9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi85YzY5NGVmMC1jZTgyLTQ2MWItOWU0My1lYTk1M2ZkZGYxNjIvZGFvZzgydC0xYjA0YmRkMy1iYTEwLTQ2OWItOTk0NC1jNTc5NmE1NzcyYzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pA-tm_z8WREcv79vY5qa2fPxS4MLLtvWRHq3fDMEYpo"></a></div>

<div aria-hidden="true" class="stamp_container"><a alt='' href="https://www.deviantart.com/0celots/art/017-896176319"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/33732cf4-917e-46aa-bdd7-a495a4ddb90c/db0hybp-224d01df-bf11-47ea-857b-100a6a6a9983.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8zMzczMmNmNC05MTdlLTQ2YWEtYmRkNy1hNDk1YTRkZGI5MGMvZGIwaHlicC0yMjRkMDFkZi1iZjExLTQ3ZWEtODU3Yi0xMDBhNmE2YTk5ODMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FJ1K8Cw1vf-25fuAeb5XDiv-OK5zvhXkTeWU4mjLiT4"></a></div>
</div>



</section>
<section class='bg-light p-7 *:px-2 w-full'>

<!--
<h1 id='plot' class='text-[1.5em] bg-white p-2 text-dark'>^ THAT'S COOL. UM. WHERE'S THE PLOT THOUGH?</h1>
<small>written on 11th october, 2025</small>
<p class='my-8'>i'm glad you asked, my dear viewer!<br> if you're completely new to LoNK, i propose you check out this <a class='text-rose-900' href='./about.html'>LiNK</a>. if not, however...</p>

<p>i was supposed to release <span class='italic font-bold'>Losers of Near-Kyiv: Introduction Comic</span> (or as i like to call it, LoNK:In', haha, like LoNKing...), a fun 40+ pages long comic that shows the world, the plot, and the characters all together on <b>11TH OF OCTOBER</b>: the coming out day being <a class='text-rose-900' href='https://en.wikipedia.org/wiki/National_Coming_Out_Day'>the coming out day.</a> it'd be REAL funny, right? <br><br>
unfortunately, creating a comic AND a website to host it took much more effort and time than i need. i've realized, OH NO! there's only one thing i can do: either rush to release the comic asap on a generic platform without any additional content, or...<br><br>
...<br><br>
...<br><br>
...<br><br>
take literally just <b>ONE EXTRA WEEK</b> for it. that's right. in one single week from when this post is written, <b>LoNK:In'</b> will hopefully be released : one of projects i, a▾rum, the person speaking to you through the screen am most proud about.<br><br>
so if you're curious about what this story is, well... all you have to do is wait.</p>
<br>
<p class='text-[1.2em]'>LoNK:Introduction is dropping in...</p>
<p class='text-[3em] text-outline-5 py-4 text-rose-100 bg-darkpaper bg-size-[100px] text-center font-black' id="demo"></p> 
<p><b>Saturday, 18th of October.</b> The hour of release & date may be modified: stay tuned for updates!</p>
-->
<article>
<h1 class='text-right m-4'>the hell is LoNK???</h1>
<div>
<p>glad you asked! </p>
LoNK stands for <img alt='Losers of Near-Kyiv' src="{{'/'|url}}imgs/logo.png" class='hover:rotate-4 ease-in-out transition-all duration-1100 hover:scale-115 h-[5em] inline'>, of course!
</div>

<div class='text-center p-2'>
and it is an <strong class='underline decoration-3 decoration-dashed decoration-[#a50505]'>ANIMATED WEBSERIES</strong> CONCEPT, currently existing as a multimedia project - primarly a <strong>WEBCOMIC</strong>.
<br>
<div class='flex md:flex-row flex-col'>
<img src='/imgs/example.png' alt="" class='hover:scale-105 ease-in-out transition-all duration-900 border-3 border-red-700 border-dashed -rotate-2 m-2 md:w-[30%]'>
<div class='md:w-[70%] flex-center'>
<p>
the story follows <b>FOUR ROOMMATES:</b> <b class='text-dima'>DIMA</b>, <b class='text-acryl'>ACRYL</b>, <b class='text-zaria'>LUCHEZAR</b> and <b class='text-misha'>MIKHEI</b>, who all happen to be students in a fictional, slightly more fantasy, no-war version of <a target='_blank' href='https://en.wikipedia.org/wiki/Kyiv_Oblast'>NEAR-KYIV, UKRAINE</a>.
<br><br>
they hang out. they cook food. they fight over the laundry. they hate each other. they hang out again! ⭐❤️
<br><br>
if you are interested in a <b>SLICE OF LIFE</b> story with diverse, charming characters and silly internet humour, you're in the right place!<br>
</p>
</div>

</div>
</article>

<!--
<p>:D</p>


<div class='*:bg-blue-200 gap-2 grid grid-cols-4'>
<div>dima</div>
<div>acryl</div>
<div>luchezar</div>
<div>mikhei</div>

</div>

-->

</section>


<!--<button onclick='toggleModal(1);' class='text-lg'>what is this? ^</button>
<div id='modal_1' class='hidden'>lonk explanation goes here lonkg ngkdflghdklfhgsldkhf lkdshflkdsh glkhslfkhds hdh hkdfhdk dfhkdfhkd</div>
-->

<!--
<script>

//MODAL 
const m= document.getElementById('modal_1');

function toggleModal(x){
m.classList.toggle('hidden');
}


//THE COUNTDOWN TO LONK SCRIPT
// Set the date we're counting down to

dateWithTimeZone = (timeZone, year, month, day, hour, minute, second) => {
  let date = new Date(Date.UTC(year, (month-1), day, hour, minute, second));

  let utcDate = new Date(date.toLocaleString('en-US', { timeZone: "UTC" }));
  let tzDate = new Date(date.toLocaleString('en-US', { timeZone: timeZone }));
  let offset = utcDate.getTime() - tzDate.getTime();

  date.setTime( date.getTime() + offset );

  return date;
};

var y = dateWithTimeZone("Europe/Paris", 2025, 10, 18, 18,0,0);
var countDownDate =  y.getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + " days and " + hours + " hours left";
  document.getElementById("demo2").innerHTML = days + " days, "+ hours + " hours, " + minutes + " minutes, " + seconds + " seconds";

 
  if (days < 1) {
	document.getElementById("demo").innerHTML = hours + " hours, " + minutes + " minutes, " + seconds + " seconds";
  }
  
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "LoNK!";
	document.getElementById("demo2").innerHTML = "LoNK!";
  }
}, 1000);
</script>
-->

<div class='flex-center bg-dark-force px-2 py-8 w-full flex-row flex-wrap gap-2'>

<img src='{{"/"|url}}imgs/stamp_2.gif'>

<a href='https://www.deviantart.com/astronaut-bixy/art/Simply-stupid-stamp-756730698'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db0d7c37-0bce-4b24-969d-d90f5db93021/dcijd56-afe24290-3f04-4ca1-9f13-3d558616c6ba.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9kYjBkN2MzNy0wYmNlLTRiMjQtOTY5ZC1kOTBmNWRiOTMwMjEvZGNpamQ1Ni1hZmUyNDI5MC0zZjA0LTRjYTEtOWYxMy0zZDU1ODYxNmM2YmEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SBxt1i0_ihCgTSjgWHblPTFPpFMtfpy_WlzcifZ556o'>
</a>

<a href='https://www.deviantart.com/v-mordecai/art/Star-Stamp-710826590'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/28ba375a-856c-4689-a74d-6bac0d283f6a/dbr7hb2-0fcf8c3d-ee09-4655-8987-432b5d628ef3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yOGJhMzc1YS04NTZjLTQ2ODktYTc0ZC02YmFjMGQyODNmNmEvZGJyN2hiMi0wZmNmOGMzZC1lZTA5LTQ2NTUtODk4Ny00MzJiNWQ2MjhlZjMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Bp59hr4eQpBsjQ-4CLyybJiF08k7y9gF9wgDBXz0QLE'>
</a>


<a href='https://www.deviantart.com/cutebunny666/art/042-656752616'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8cb2184f-fe95-4552-aeb0-f3a30b7ab67f/dav0hk8-43052639-e3bf-441e-94b3-a01518db6379.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi84Y2IyMTg0Zi1mZTk1LTQ1NTItYWViMC1mM2EzMGI3YWI2N2YvZGF2MGhrOC00MzA1MjYzOS1lM2JmLTQ0MWUtOTRiMy1hMDE1MThkYjYzNzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UYJ97iDSpACdsh9EOMtNLCiH7Df_317vb7Ir8VCFQPU'>
</a>

<a href='https://www.deviantart.com/damoni/art/Stamp-Stamp-98930691'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a1d47e56-713a-4908-967d-38359b1f7293/d1mwfer-9d2a6b5a-c6ff-4000-b3a3-0b5d5e4526a7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9hMWQ0N2U1Ni03MTNhLTQ5MDgtOTY3ZC0zODM1OWIxZjcyOTMvZDFtd2Zlci05ZDJhNmI1YS1jNmZmLTQwMDAtYjNhMy0wYjVkNWU0NTI2YTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LCTWEwWAuJ2YwJvu9PLVCX3bJwDfM1FeFUm9Jcn9PTA'>
</a>

<a href='https://www.deviantart.com/omnivore-daydreams/art/rainbow-685907766'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ff821fa7-5b26-45ce-9ae8-f9c3b4d5b5e8/dbcddti-dbddda09-256d-4045-be7a-1feaa0744b83.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9mZjgyMWZhNy01YjI2LTQ1Y2UtOWFlOC1mOWMzYjRkNWI1ZTgvZGJjZGR0aS1kYmRkZGEwOS0yNTZkLTQwNDUtYmU3YS0xZmVhYTA3NDRiODMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.W9h0Jfd3YpQpV6ERgMlL7fuo6fj4kyusi2pfSSGuD5k'>
</a>

<a href='https://www.deviantart.com/v-mordecai/art/Black-Stars-Stamp-710826541'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/28ba375a-856c-4689-a74d-6bac0d283f6a/dbr7h9p-73101c9a-2ef8-4962-bda2-71159a76d7e2.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yOGJhMzc1YS04NTZjLTQ2ODktYTc0ZC02YmFjMGQyODNmNmEvZGJyN2g5cC03MzEwMWM5YS0yZWY4LTQ5NjItYmRhMi03MTE1OWE3NmQ3ZTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pwi2OVXj3tCqJ7LMNVuPsxNAjA_qub8ik03aebz4DT4'>
</a>

<a href='https://www.deviantart.com/triangle-mom/art/F2U-Anti-AI-Stamp-Alternate-colors-941484651'>
<img src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80058940-5a81-45c0-bebd-76e65df3844d/dfkja7f-6751d7ad-68a8-45d9-b63a-a02e99319032.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi84MDA1ODk0MC01YTgxLTQ1YzAtYmViZC03NmU2NWRmMzg0NGQvZGZramE3Zi02NzUxZDdhZC02OGE4LTQ1ZDktYjYzYS1hMDJlOTkzMTkwMzIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uK_UKC_hQ6n7yBcmbUOvHNJOcFgMOYfIPjroNY3C_dE'>
</a>

<img src='{{"/"|url}}imgs/stamp_1.png'>


</div>

</div>