<!DOCTYPE html>

<html style='width:100%; height:100%' lang="{{lang}}" data-theme="white">

<head>

	
	<script>
	var achbase =[

{ id:'ach_og', title:'ДЕНЬ ВИХІДУ', desc:"позначили #0-ИЙ ВИПУСК як прочитаний." },
{ id:'ach_intro', title:"ОЗНАЙОМЛЕННЯ", desc:"позначили #1-ИЙ ВИПУСК як прочитаний." },
{ title:"ГОВІР & ГОМІН", id:'ach_intro_exh', desc:'перевірили всі опції коли говорили з акрилом в міні-грі #1-ОГО ВИПУСКУ'},
{ title:"БРЕХ І КРИВДА", desc:'збрехали акрилу в міні-грі #1-ОГО ВИПУСКУ', id:'ach_intro_lie'},
{ title:"НЕСПОДІВАНА ЧЕСНІСТЬ", desc:'сказали правду акрилу в міні-грі #1-ОГО ВИПУСКУ', id:'ach_intro_truth'},
{ title:"ДУАЛІЗМ", desc:'получили "БРЕХ І КРИВДА" і "НЕСПОДІВАНА ЧЕСНІСТЬ" бо перечитали комікс', id:'ach_intro_truthlie'},
{ title:"П'ЯТИЛИСНИК", id:'ach_luckyread', desc:'знайшли це досягнення в слоганах на сторінці "читати"'},

];

</script>

  <meta charset="UTF-8">  
  <meta name="description" content='"Лохи з-під Києва", той самий дивний український вебкомікс на офіційному вебсайті!'>
  <meta name="keywords" content="вебкомікс">
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="{{ '/' | url }}imgs/favicon.ico">
  
      <link rel="stylesheet" type="text/css" href="{{ '/' | url }}fonts/style.css"/>
  
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<style type="text/tailwindcss">
	@theme {
  --animate-wiggle: wiggle 7s ease-in-out infinite;  
  @keyframes wiggle 
  { 
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
  }
  
	
	--color-fortext: #380404;
	--color-buttontext: white;
	
	--color-misha: #022270;
	--color-zaria: #4a9333;
	--color-acryl: #b99111;
	--color-dima: #a50505;

	--background-image-pattern-star: url("{{'/'|url}}imgs/pattern_star.png");
	--background-image-home: url('{{ '/' | url }}./imgs/bg_checker.png');
	--background-image-cardboard: url('{{ '/' | url }}./imgs/cardboard.png');
	--background-image-paper: url('{{ '/' | url }}./imgs/seamless.png');
	--background-image-darkpaper: url('{{ '/' | url }}./imgs/dark_seamless.png');
	--color-dark: #59423F;
	--color-dark-force: #59423F;
	--color-light: #EBE4DB;
	--color-light-force: #EBE4DB;
	
	--color-highlight: oklch(89.2% 0.058 10.001);
	--color-white-adapt: white;
	--color-black-adapt: black;

	
	--background-image-paper-force: url('{{ '/' | url }}./imgs/seamless.png');

	--font-loverboy: "Loverboy", "Courier New", Courier, monospace; 
	--font-mau: "Mau", "Courier New", Courier, monospace; 
	--font-sans: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
	--font-cmu: "CMU Typewriter Text Regular", "Courier New", Courier, monospace; 
	--font-block: "block", "Courier New", Courier, monospace;
	--font-spike: "spike", "Courier New", Courier, monospace;
	--font-punk: 'block', "Courier New", Courier, monospace;
		--font-punk2: "block", "Courier New", Courier, monospace;
		--font-punk3: "block", "Courier New", Courier, monospace;
		--font-punk4: "block", "Courier New", Courier, monospace;

	}
	
	
  [data-theme='default_dark'] {
	--background-image-home: url('{{ '/' | url }}./imgs/dark_bg_checker.png');
	--color-dark: #59423F;
  }	
				
  [data-theme-primary='dark']{
   --color-dark: white;
   --color-light: #242020;
   --color-fortext: #E1D7CC;
   --color-buttontext: #242020;
   --color-highlight: black;
--color-white-adapt: black;
	--color-black-adapt: white;
   --background-image-cardboard: url('{{ '/' | url }}./imgs/dark_cardboard.png');
   --background-image-darkpaper: url('{{ '/' | url }}./imgs/dark_dark_seamless.png');
   --background-image-paper: url('{{ '/' | url }}./imgs/dark_mode_seamless.png');
   
	--background-image-pattern-star: url("{{'/'|url}}imgs/dark_pattern_star.png");
  }
  
  [data-theme='zaria'] {
	--background-image-home: url('{{ '/' | url }}./imgs/zaria_bg_checker.png');
	--color-dark: #59423F;
  }	
  
   [data-theme='zaria_dark'] {
	--background-image-home: url('{{ '/' | url }}./imgs/zaria_bg_checker_dark.png');
	--color-dark: #59423F;
  }	
  
  [data-theme='misha'] {
	--background-image-home: url('{{ '/' | url }}./imgs/misha_bg_checker.png');
	--color-dark: #59423F;
  }	
  
   [data-theme='misha_dark'] {
	--background-image-home: url('{{ '/' | url }}./imgs/misha_bg_checker_dark.png');
	--color-dark: #59423F;
  }	

  [data-theme='acryl'] {
	--background-image-home: url('{{ '/' | url }}./imgs/acryl_bg_checker.png');
	--color-dark: #59423F;
  }	
  
  [data-theme='acryl_dark'] {
	--background-image-home: url('{{ '/' | url }}./imgs/acryl_bg_checker_dark.png');
	--color-dark: #59423F;
  }	  

  [data-theme='dima'] {
	--background-image-home: url('{{ '/' | url }}./imgs/dima_bg_checker.png');
	--color-dark: #59423F;
  }	
  
  
  [data-theme='dima_dark'] {
	--background-image-home: url('{{ '/' | url }}./imgs/dima_bg_checker_dark.png');
	--color-dark: #59423F;
  }	
  
  
  
  .lonkin{
  @apply text-rose-200 decoration-2 underline font-black text-[1.1em];
  }
  
  .mirror{
  display:inline-block; transform: scale(-1, 1);
  }
  
  .flip{
  display:inline-block; transform: scale(1, -1);
  }
  
  .text-outline{	
  -webkit-text-stroke: 1px black;
  text-shadow: 4px 4px 0px black;
  }
  
  .text-outline-5{	
  -webkit-text-stroke: 0.7px black;
  text-shadow: 4px 4px 0px black;
  }
  
	a {
	@apply underline decoration-[3px];
	}

  
	blockquote {
	@apply bg-cardboard bg-size-[100%_100%] text-white py-2 inline-block -skew-x-8;
	}
		
	
	body {
	@apply bg-size-[145px];
	}
	
	li{
	list-style-type: "\2606";
	margin-left: 1.20em;
	padding-inline-start: 0.5em;
	}

	.flex-center{
	@apply flex justify-center items-center;
	}
  
	@layer base {  
	
	h1 {    
	@apply text-[1.35em] md:text-[1.65em] font-punk;
	font-weight: 400;}  
	
	h2 {    
	text-size: 1.25em; 
	font-weight: bold;}
	
	h3 {    
	text-size: 1.20em; 
	margin-left: 1em;
	font-weight: bold;}
	
	u {
	@apply decoration-2;
	}
		
	.rainbow-order > *:nth-child(1n){
	@apply bg-rose-300;
	}
	
	.rainbow-order > *:nth-child(2n){
		@apply bg-orange-200;

	}
		.rainbow-order > *:nth-child(3n){
		@apply bg-cyan-200;

	}
	
	.rainbow-order > *:nth-child(4n){
		@apply bg-blue-200;

	}
	
	.dima-border{
	border-image-slice: 4% 3% 5% 2%;
border-image-width: 0.3em 0.3em 0.3em 0.3em;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: stretch stretch;
border-image-source: url("{{ '/' | url}}imgs/border_dima.png");
border-style: solid;
	}
	
	
	.acryl-border{
	border-image-slice: 4% 3% 5% 2%;
border-image-width: 0.3em 0.3em 0.3em 0.3em;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: stretch stretch;
border-image-source: url("{{ '/' | url}}imgs/border_acryl.png");
border-style: solid;
	}
	
		.rainbow-order-hover > *:nth-child(1n of :not(.hidden)){
	@apply bg-rose-300 hover:bg-rose-400;
	}
	
	.rainbow-order-hover > *:nth-child(2n of :not(.hidden)){
		@apply bg-orange-200 hover:bg-orange-300;

	}
		.rainbow-order-hover > *:nth-child(3n of :not(.hidden)){
		@apply bg-cyan-200 hover:bg-cyan-300;

	}
	
	.rainbow-order-hover > *:nth-child(4n of :not(.hidden)){
		@apply bg-blue-300 hover:bg-blue-400;

	}
	
	
	.button:not(.button-none), button:not(.button-none) {
	border: solid 4px black;
	@apply px-[0.3em] py-[0.5em] md:px-[0.4em] md:py-[0.2em] hover:bg-[url("{{ '/' | url}}imgs/dark_mode_seamless.png")] font-bold text-white bg-dark bg-darkpaper bg-size-[120px] text-buttontext;
	box-shadow: 3px 3px 0px 0px rgba(40,0,0,0.7);
	
	margin: 2px;

	text-decoration: none !important;
	}
	
	
	
  
	}
	
	.jolly-text{
--color1: #1FD537;
--color2: #E40010;
background: repeating-linear-gradient(
45deg,
var(--color1),
var(--color1) 30px,
var(--color2) 30px,
var(--color2) 60px
);
background-clip: text;
color: transparent;
-webkit-background-clip: text;
animation: 40s linear 0s infinite move;
}

@keyframes move {
from {
background-position: 0px;
}
to {
background-position: 1000px;
}
}
	
	</style>
	
	
<style>

 @keyframes squish {
  0%   {
    transform: scaleY(100%);

	}
  100%  {
    transform: scaleY(99%) translateY(1%) scaleX(101%);

	}
}

.squishing {
  animation-name: squish;
  animation-iteration-count: 2;
  animation-duration: 0.1s;
  animation-direction: alternate;
} 
</style>


<link rel="stylesheet" href="https://webcomicring.org/js/comicring.css">

<style>
#webcomicwebring{
margin: 0px!important;  
}
</style>

</head>


<body class='addtransitions font-cmu text-[1.15em] md:text-[1.25em] bg-home text-fortext min-w-0'>
<div class='flex justify-center items-center flex-col *:min-w-0'>
<div id='normal' class='min-w-0 *:min-w-0 hidden w-[100%] md:w-[95%] lg:w-[85%]'>

<header class='flex flex-row gap-1 m-2 justify-between items-center'>

<a class='inline-block w-[35%] md:w-[18%] h-auto' href="{{ '/' | locale_url }}">

<img class='' src="{{ '/' | url }}imgs/ua_logo.png" alt='homepage'>


</a>

<div class='lg:hidden block w-full text-fortext bg-light'><button id='menu-btn' class='w-full'>= МЕНЮ</button></div>


<div aria-hidden="true" id="menu" class="fixed z-[9999] top-0 left-0 w-[100%] md:w-[80%] h-full bg-[#3d2621] overflow-y-auto text-white p-4 shadow-lg transform -translate-x-full transition-transform duration-300 ease-out lg:hidden">

<button id="close-btn" class="z-[9999] text-white text-[1.5em] absolute top-2 right-4 px-4 ">X </button>
 <nav class='h-full'>


<div class='relative  flex flex-col *:py-2 *:text-[1.1em] *:text-fortext *:bg-light gap-4'>

<a href="" id='ua_link_1' class='justify-self-start'>🌎 ENG</a>


<a href="{{ '/' | locale_url }}">🏡головна</a>


<a href="{{ '/' | locale_url }}read">📚читати</a>


<div id='community_link_m'>
<a href="{{ '/' | locale_url }}community">🌻спільнота</a>
</div>

<div id='help_link_m'>
<a href="{{ '/' | locale_url }}help_us">❣️ЯК ДОПОМОГТИ?</a>
</div>

<a href='{{ "/" | locale_url }}content_warnings'>⚠️ попередження</a>

<div class='flex gap-2 flex-row '>
<button class='p-0 bg-dark-force text-light-force bg-none border-0' aria-hidden="true" onclick='setThemePrimary("default"); setTheme("default");'>☀️ СВІТЛА ТЕМА</button>
<button class='p-0 bg-dark-force text-light-force bg-none border-0' aria-hidden="true" onclick='setThemePrimary("dark"); setTheme("default_dark");'>🌒 ТЕМНА ТЕМА</button>
</div>

<button aria-label='open user settings menu' onclick='togglePFPMenu();' class='text-light-force! flex justify-center items-center m-0 p-0 border-0 gap-2'>

<div class='inline-block relative w-12 h-12 gap-2 *:absolute *:top-0 *:left-0 *:w-full aspect-square aspect-1/1'>
<img alt='user options' class='z-1  top-0 bottom-0 w-full h-full  pfp  '>

<div class='l0 h-full z-2 ' style=' background-size: 100% 100%; background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0));  '></div>

<div class='l3 h-full z-5' style=' background-size: 100% 100%;  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0)); '></div>

<div style=' background-size: 100% 100%; background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0)); clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 50% 93%, 93% 93%, 93% 7%, 50% 7%, 50% 0%);' 
class='  l2 absolute z-4 h-full '>
</div>

<div style='background-size: 100% 100%;  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0)); clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 7%, 93% 7%, 93% 93%, 7% 93%, 7% 7%, 100% 7%, 100% 0%);' 
class='absolute z-3 h-full l1  '>
</div></div>
<div>НАЛАШТУВАННЯ КОРИСТУВАЧА</div> 

</button>

<ul id='pfpmenu' class='hidden w-full absolute p-2 z-10 top-[100%]'>

<li>привітик, <span class='username'></span>!</li>
<li><a href='{{ '/' | locale_url }}./settings'>⚙️ налаштування</a></li>
</ul>


</div>
</nav>

</div>





<nav class='hidden lg:flex relative bg-cardboard bg-cover flex-grow flex-1 grid grid-cols-4 grid-rows-1 justify-end items-center flex-row self-stretch *:bg-light gap-4 text-[0.9em]'>

<!--<a href="{{ '/uk-ua' |url }}">🇺🇦 укр</a>-->
<a href="" id='ua_link_2' class='justify-self-start'>🌎 ENG</a>


<a href="{{ '/' | locale_url }}">🏡головна</a>


<a href="{{ '/' | locale_url }}read">📚читати</a>


<div id='community_link'>
<a href="{{ '/' | locale_url }}community">🌻спільнота</a>
</div>

<div id='help_link'>
<a href="{{ '/' | locale_url }}help_us">❣️ЯК ДОПОМОГТИ?</a>
</div>
<a href='{{ "/" | locale_url }}content_warnings'>⚠️ попередження</a>

<button class='p-0 bg-light bg-none border-0' aria-hidden="true" onclick='setThemePrimary("default"); setTheme("default");'>☀️</button>
<button class='p-0 bg-light bg-none border-0' aria-hidden="true" onclick='setThemePrimary("dark"); setTheme("default_dark");'>🌒</button>

<button aria-label='open user settings menu' onclick='togglePFPMenu();' class='m-0 p-0 border-0  mr-12'>

<div class='relative w-12 h-12 gap-2 *:absolute *:top-0 *:left-0 *:w-full aspect-square aspect-1/1'>
<img alt='user options' class='z-1  top-0 bottom-0 w-full h-full  pfp  '>

<div class='l0 h-full z-2 ' style=' background-size: 100% 100%; background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0));  '></div>

<div class='l3 h-full z-5' style=' background-size: 100% 100%;  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0)); '></div>

<div style=' background-size: 100% 100%; background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0)); clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 50% 93%, 93% 93%, 93% 7%, 50% 7%, 50% 0%);' 
class='  l2 absolute z-4 h-full '>
</div>

<div style='background-size: 100% 100%;  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0)); clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 7%, 93% 7%, 93% 93%, 7% 93%, 7% 7%, 100% 7%, 100% 0%);' 
class='absolute z-3 h-full l1  '>
</div></button>


<script>
let UA_URL = window.location.href.replace("uk-ua", "en");
document.getElementById("ua_link_1").href=UA_URL;
document.getElementById("ua_link_2").href=UA_URL;
</script>

<ul id='pfpmenu2' class='hidden md:max-w-[20vw] absolute p-2 z-10 top-[100%]'>
<!--
<li>ACHIEVEMENTS</li>
<li>THEME SELECTOR</li>
<li>PROFILE PICTURES</li>
-->
<li>привітик, <span class='username'></span>!</li>
<li><a href='{{ '/' | locale_url }}./settings'>⚙️ налаштування</a></li>
</ul>

<!--
<button onclick='setTheme("default");'>no theme</button>
<button onclick='setTheme("misha");'>misha</button>
<button onclick='setTheme("acryl");'>acryl</button>
<button onclick='setTheme("dima");'>dima</button>
<button onclick='setTheme("zaria");'>zaria</button>
-->
</nav>
</header>

<main class='flex m-2 md:m-4 justify-center items-center flex-col min-w-0 bg-light'>


{% block inside %}
{{ content | safe }}
{% endblock %}
</main>

<footer id='footer' class='bg-cardboard text-white flex-col bg-cover flex-center text-right p-5 text-[0.95em] md:p-2'>

<div>

<div class='flex flex-col md:flex-row gap-2'>

<div class='flex flex-row gap-2'>
<a href="https://www.pinterest.com/losersofnearkyiv/" target="_blank"><img alt='pinterest' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-6' src="{{'/'|url}}imgs/sm_pinterest.png"></a>
<a href="https://ko-fi.com/losersofnearkyiv" target="_blank"><img alt='ko-fi' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-8' src="{{'/'|url}}imgs/sm_ko-fi.png"></a>
<a href="https://neocities.org/site/losersofnear-kyiv" target="_blank"><img alt='neocities' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-5' src="{{'/'|url}}imgs/sm_neocities.png"></a>
<a href="https://www.tumblr.com/losers-of-near-kyiv" target="_blank"><img alt='tumblr' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-12' src="{{'/'|url}}imgs/sm_tumblr.png"></a>
</div>

<div>
<a href='{{ "/" | locale_url }}sitecredits'>цей вебсайт був зроблений з картону </a> <br> 👍 хостинг: <a href='https://neocities.org'>neocities</a> <br> 
</div>

</div>


</div>



<div class='pb-2'>
лохи з-під києва 🄯 <span id='year'></span> | <a href="{{ '/' | locale_url}}contact">зв'язатися?</a> | 
<a href='https://losersofnear-kyiv.neocities.org/'>
<img class='inline-block' src='{{"/"|url}}imgs/button.gif'>
</a>
</div>

<div class='hidden *:transition-colors *:duration-2000 *:ease-in-out'></div>



 </footer>
 
</div>

<div id='new_ach' style='display:none;' class='grid grid-cols-[1fr_6fr] justify-center items-center fixed md:right-4 z-404 right-0 bottom-0 md:bottom-4 bg-white text-black w-[99vw] md:w-[70vw] lg:w-[40vw] p-2 gap-2 border-black border-4'>
<audio src='{{"/" | url}}sounds/yippie.mp3' id='ach_sound'></audio>
<img id='new_ach_img' src='{{"/"|url}}imgs/achievements/example.png'>
<p class='text-[0.9em]'><small><a href='{{"/"|locale_url}}settings' target='_blank'>нове досягнення! ⭐</a></small><br><b id='new_ach_title'>TITLE:</b><span id='new_ach_desc'>
LOREM KLSH FLKSDHF LK  SHL:A H DKLSD HFLK  SAHD L SHFDKLS FHLDSFK HSDLK HSD LF DHSFKLDHS FKLSDH FS
</span></p>
</div>



<div id='spoiler_screen' class='hidden w-full min-h-[100vh] bg-size-[200px_200px] text-black-adapt bg-pattern-star top-0 z-4444 flex lg:justify-center items-center flex-col'>

<div class='block lg:fixed lg:left-0 lg:top-0 lg:w-[25%] w-full  text-[0.85em]   z-5555 '>
<button onclick='localStorage.setItem("spoiler_state", "true"); location.reload();' class='button-none  w-full hover:bg-cyan-200 bg-cyan-100  p-2 text-black'>
не любиш "туторіали" чи злам 4-ої стіни? клацніть сюди щоб пропустити цю частину! </button>


<div class='*:py-2 w-full hidden lg:flex flex-row *:w-full mt-2 gap-2'>
<button class='p-0 bg-white-adapt text-black-adapt bg-none border-0 shadow-none' aria-hidden="true" onclick='setThemePrimary("default"); setTheme("default");'>☀️ СВІТЛА ТЕМА</button>
<button class='p-0 bg-white-adapt text-black-adapt bg-none border-0 shadow-none' aria-hidden="true" onclick='setThemePrimary("dark"); setTheme("default_dark");'>🌒 ТЕМНА ТЕМА</button>
</div>
</div>




<div class='w-[95%] md:w-[70%] lg:w-[47%] *:w-full min-h-[80vh] justify-center flex flex-col items-center z-5555'>
<div class=' bg-white-adapt text-black-adapt p-3 my-2'>


<div id='talk_question' class=''>...ТИ ТУТ ВПЕРШЕ?</div>

</div>
<div class=' bg-white-adapt text-black-adapt p-3 my-2'>

<div id='talk_options' class='flex gap-2 flex-col'>
<button onclick='opt_first();'>Е... НАПЕВНО?</button>
<button onclick='opt_notfirst();'>НІ, Я ЗНАЮ ВСЕ ЩО ВІДБУЛОСЯ В КОМІКСІ-ОЗНАЙОМЛЕННІ. МИ ВЖЕ БАЧИЛИСЬ.</button>
</div>


</div>

<div class='lg:hidden block'>
<div class='*:py-2 w-full *:w-full gap-2 flex flex-row mt-2'>
<button class='p-0 bg-white-adapt text-black-adapt bg-none border-0 shadow-none' aria-hidden="true" onclick='setThemePrimary("default"); setTheme("default");'>☀️ СВІТЛА ТЕМА</button>
<button class='p-0 bg-white-adapt text-black-adapt bg-none border-0 shadow-none' aria-hidden="true" onclick='setThemePrimary("dark"); setTheme("default_dark");'>🌒 ТЕМНА ТЕМА</button>
</div> 
</div>
</div>



</div>

<div id='cw_screen' style='display: none;' class='w-full h-full bg-size-[200px_200px] text-black bg-[url("{{'/'|url}}imgs/pattern_star.png")]  top-0 z-4440 flex justify-center items-center flex-col py-10 px-10 md:px-20'>

</div>


<script>
    const menuBtn = document.getElementById('menu-btn');
    const closeBtn = document.getElementById('close-btn');
    const menu = document.getElementById('menu');

    function toggleMenu() {
        menu.classList.toggle('-translate-x-full'); 
    }

    menuBtn.addEventListener('click', toggleMenu);
    closeBtn.addEventListener('click', toggleMenu);
</script>

<script>

function togglePFPMenu(){
document.getElementById('pfpmenu').classList.toggle('hidden');
document.getElementById('pfpmenu2').classList.toggle('hidden');
}


function setCookie(name, value) {
    localStorage.setItem(name, value);  // set. also its not fr a cookie lol its localstorage
}

function getCookie(name) {
    return localStorage.getItem(name);  // get value
}


function setTheme(a){
if(a==='default'){
document.getElementsByTagName("HTML")[0].setAttribute("data-theme", null); 
setCookie('theme', null);
}else{
document.getElementsByTagName("HTML")[0].setAttribute("data-theme", a); 
setCookie('theme', a);
}
}

function setThemePrimary(a){

if(a==='default'){
document.getElementsByTagName("HTML")[0].setAttribute("data-theme-primary", null); 
setCookie('primary-theme', null);
}else{
document.getElementsByTagName("HTML")[0].setAttribute("data-theme-primary", a); 
setCookie('primary-theme', a);
}

}


</script>


<script>

//THE SCRIPT FOR THE ONES ENTERING THIS. WOAH.


 
// const isFirst=localStorage.getItem();

 
// const isFirst=localStorage.getItem();
const s_screen=document.getElementById('spoiler_screen');
const cw_screen=document.getElementById('cw_screen');

const normal=document.getElementById('normal');
const footer=document.getElementById('footer');

const talk_question=document.getElementById('talk_question');
const talk_options=document.getElementById('talk_options');

//if there is no spoiler state


if(!localStorage.getItem("spoiler_state")){
s_screen.classList.remove('hidden');
normal.classList.add('hidden');
footer.style.display = 'none';


}else{
s_screen.classList.add('hidden');
normal.classList.remove('hidden');
normal.style.display = 'block';
footer.style.display = 'flex';
}


function opt_first(){
talk_question.innerHTML="...ТОДІ, ВІТАЮ. ЦЕ ОФІЦІЙНИЙ ВЕБСАЙТ ЛОХІВ З-ПІД КИЄВА!";
talk_options.innerHTML=
`
<button onclick='opt_empty()'>ПУСТОВАТО.</button>
`
;

}



function opt_empty(){
talk_question.innerHTML=`ПУСТОВАТО? НАПЕВНО, ХАХА. ПРОБАЧ. <br> НІ, НАСПРАВДІ ЦЕЙ САЙТ ТАК НЕ ВИГЛЯДАЄ. АЛЕ... МЕНІ ЗДАВАЛОСЯ ЩО ТИ ТУТ ЗАРАДИ ІСТОРІЇ, ЧИ НЕ ТАК?`;
talk_options.innerHTML=
`
<button onclick='opt_spoilersLocked("read");'>ТАК! Я ВЖЕ ЗНАЮ ПРО НЕЇ! ПРОСТО ДАЙ ПРОЧИТАТИ!</button>
<button onclick='opt_story()'>МОЖЕШ РОЗКАЗАТИ МЕНІ ПРО ЦЮ ІСТОРІЮ?</button>
<button onclick='opt_siteNote()'>...Я ХОЧУ ПОБАЧИТИ ВЕБСАЙТ...</button>

`
;

}



function opt_story(){
talk_question.innerHTML=`ДОБРЕ. 

ДАВАЙ Я ЗНАЙДУ ОПИС... <br>
<div class='text-center italic'>
<img alt='Losers of Near-Kyiv' src="{{'/'|url}}imgs/logo.png" class='ease-in-out transition-all duration-1100 hover:scale-105 h-[3em] inline'>

це це КОНЦЕПТ <strong class='underline decoration-3 decoration-dashed decoration-[#a50505]'>АНІМОВАНОГО ВЕБСЕРІАЛУ</strong>, який наразі існує як мультимедійний проект – переважно <strong>ВЕБКОМІКС</strong>.
<b>ЧОТИРИ СУСІДА ПО КІМНАТІ:</b> <b class='text-dima'>ДІМА</b>, <b class='text-acryl'>АКРИЛ</b>, <b class='text-zaria'>ЛУЧЕЗАР</b> та <b class='text-misha'>МІХЕЙ</b> всі живуть як студенти у вигаданій, трохи більш фентезійній версії <a target='_blank' href='https://en.wikipedia.org/wiki/Kyiv_Oblast'>КИЇВСЬКОЇ ОБЛАСТІ</a>.
<br>
</p>
</div>

<!-- REVIEWS GO HERE -->
<br>
ЦЕ <b>ПОВСЯКДЕННІСТЬ</b> & <b>КОМЕДІЯ</b> ... <br>
...АЛЕ НАПЕВНО, ТИ ВЖЕ ПРО ВСЕ ЦЕ ЗНАЄШ. ХОЧЕШ ПІТИ І ПРОЧИТАТИ?`;

talk_options.innerHTML=
`
<button onclick='opt_read()'>ТАК!</button>
<button onclick='opt_siteNote()'>НАСПРАВДІ, Я ХОЧУ ПОДИВИТИСЯ НА ВЕБСАЙТ.</button>
`
;

}

function opt_read(){
talk_question.innerHTML=`ЧУДОВО.`;
talk_options.innerHTML=
`
<button onclick='opt_spoilersLocked("read")'>[ ВІДКРИТИ КОМІКС ]</button>`
}
function opt_siteNote(){
talk_question.innerHTML=`ПРОСТО ХОЧУ ПОВІДОМІТИ: ВЕЛИКА ЧАСТИНА ЦЬОГО ВЕБСАЙТА БУДЕ ЗАКРИТА ДОКИ КОРИСТУВАЧ НЕ ПРОЧИТАЄ КОМІКС-ОЗНАЙОМЛЕННЯ. І ЦЕ НАЙКРАЩИЙ ДОСВІД ЯКЩО ДЛЯ ТЕБЕ ЦЕ ВПЕРШЕ, АЛЕ...
<small>[якщо захочеш побачити все навіть без читання коміксу, це можна зробити в ⚙️ налаштуваннях.]</small>


`;
talk_options.innerHTML=
`
<button onclick='opt_spoilersLocked()'>ЗРОЗУМІЛО! ДЯКУЮ!</button>`
}


function opt_notfirst(){
talk_question.innerHTML="ОХ. ЦЕ ДОБРЕ. ЯКЩО ТАК, ТО ГАДАЮ ЩО ТИ ХОЧЕШ ПОБАЧИТИ ВСЕ ЩО ЦЕЙ ВЕБСАЙТ МОЖЕ ТОБІ ДАТИ, БЕЗ МЕНЕ І МОГО ВТРУЧАННЯ. АЛЕ... ЯКЩО СУМНІВАЄШСЯ, АБО ХОЧЕШ ПОЛУЧИТИ ПОВНИЙ ПЕРШИЙ ДОСВІД... ЦЕ... ТАКОЖ МОЖЛИВО.";
talk_options.innerHTML=
`
<button onclick='opt_spoilersUnlocked()'>Я ХОЧУ ПОБАЧИТИ ВЕСЬ ВЕБСАЙТ. </button>
<button onclick='opt_fakenewperson()'>НАСПРАВДІ, НІ, Я НЕ ХОЧУ СПОЙЛЕРІВ. ЗАБУДЬ МЕНЕ І СТАВСЯ ДО МЕНЕ ЯК ДО НОВОЇ ЛЮДИНИ.</button>
`
;

}

function opt_fakenewperson(){
talk_question.innerHTML=`ЗАБУТИ ТЕБЕ? Я... Я НЕ ХОЧУ.`;
talk_options.innerHTML=
`
<button onclick='opt_forget()'>ПРОШУ?</button>
`
;
}

function opt_forget(){
talk_question.innerHTML=`...<small>НУ, ТВОЄ РІШЕННЯ НІЧОГО НЕ ЗНАЧИТЬ, ЕГЕ-Ж?</small> <br>БО ЦЕ ЛИШ ОЗНАЧАЄ ЩО МИ ЗНОВУ ПОБАЧИМОСЯ. <br> ДО НАСТУПНОЇ ЗУСТРІЧИ.`;
talk_options.innerHTML=
`
<button onclick='website_spoilersLocked()'>[ ВІДКРИТИ ВЕБСАЙТ ]</button>
`
;
}


function opt_spoilersUnlocked(){
talk_question.innerHTML="СПОДІВАЮСЯ ЩО ТИ НЕ ПОШКОДУЄШ ЦИМ ВИБІРОМ. НАПЕВНО МЕНІ ТРЕБА СКАЗАТИ ЩОСЬ ПРИЄМНЕ ТОБІ... <br> <div class='w-full text-center font-block text-[1.5em]' style='text-shadow: 0px 0px 2px #00d3ad, 0px 0px 5px #00d3ad, 0px 0px 1px #00d3ad; 0px 0px 10px #00d3ad'>З ПОВЕРНЕННЯМ.</div> <br> <small>[якщо зміниш свій вибір, це можна зробити в ⚙️ налаштуваннях.]</small>";
talk_options.innerHTML=
`
<button onclick='website_spoilersUnlocked();'>ДЯКУЮ.</button>
`
;

}

function opt_spoilersLocked(b){

talk_question.innerHTML=`ПРИЄМНОГО ЧИТАННЯ. <img class='inline' src='{{"/"|url}}imgs/a_star.gif'>`;
talk_options.innerHTML=`


<button onclick='website_spoilersLocked("` + b + `");'>[ ВІДКРИТИ ВЕБСАЙТ ]</button>

`




}


function website_spoilersUnlocked(){
s_screen.classList.add('hidden');
normal.classList.remove('hidden');
footer.style.display = 'flex';

localStorage.setItem('spoiler_state', 'false');
loadSpoil();


}


function website_spoilersLocked(actions){
s_screen.classList.add('hidden');
normal.classList.remove('hidden');
footer.style.display = 'flex';

localStorage.setItem('spoiler_state', 'true');
loadSpoil();

}
let cw_screen_content = `


<div class='w-full text-zinc-100 bg-black p-2 md:p-12'>

<h1 class='font-cmu'>
"ЛОХИ З-ПІД КИЄВА" МАЄ...</h1>
<small>це попередження про зміст ВСЬОГО КОМІКСУ. наведи/клацни на картки щоб дізнатися більше!</small>


<div class="wrapper text-[0.9em] w-full flex-col md:flex-row flex flex-wrap justify-center gap-4">
  <div aria-haspopup="true" tabindex='1' role='button' class="card md:w-[30%] w-full">
  <img title="лихослів'я" alt="лихослів'я" class='object-cover' src="{{'/'|url}}imgs/ua_cw_1.png">
    <div class="info">
   <ul>
            <li>багато хто з персонажів використовують лайку</li>
			<li>включаючи (але це не повний список) <span class='text-black bg-blue-900 hover:bg-zinc-200 transition-all duration-1000 ease-in-out '>“бля”</span> & <span class='text-black bg-blue-900 hover:bg-zinc-200 transition-all duration-1000 ease-in-out '>“пізда”</span> & <span class='text-black bg-blue-900 hover:bg-zinc-200 transition-all duration-1000 ease-in-out '>“нахуй”</span> та інше</li>
			<li>більш графічної лайки за це зазвичай немає</li>
        </ul>
    </div>
  </div>

  <div aria-haspopup="true" tabindex='1' role='button' class="card md:w-[30%] w-full">
  <img title='religions, based off real-life ones' alt='religions, based off real-life ones' class='object-cover' src="{{'/'|url}}imgs/ua_cw_2.png">
    <div class="info">
   <ul>
            <li>головного героя називають християнином навіть в цьому світі</li>
			<li>інші релігії також згадуються</li>
			<li>релігія не показана  в позитивному чи негативному за своєю природою світлі, вона просто існує </li>
        </ul>
    </div>
  </div>

  <div aria-haspopup="true" tabindex='1' role='button' class="card md:w-[30%] w-full">
  <img title='topics of discrimination' alt='topics of discrimination' class='object-cover' src="{{'/'|url}}imgs/ua_cw_3.png">
    <div class="info">
	<ul><li>мізогінія & расизм & інше існує як і в реальності</li>
	<li>зовнішня дискримінація (іноді)</li>
	<li>соціальні норми (зчаста)</li>
	<li>засвоєння цих норм у формі сорома і ненависті до себе (повсякчас)</li>
	<li>показано як негативна/нелогічна/упереджена/шкідлива думка</li></ul>
    </div>
  </div>
 
  <div aria-haspopup="true" tabindex='1' role='button' class="card md:w-[30%] w-full">
  <img title='depiction of illness (mental & physical)' alt='depiction of illness (mental & physical)' class='object-cover' src="{{'/'|url}}imgs/ua_cw_4.png">
    <div class="info">
	<ul><li>панічні атаки, емоційні зриви, загострення болю</li>
	<li>хронічний біль & хвороби </li>
	<li>часто можна побачити пігулки & мед. обладання (без шприців)</li>
	<li>ЛзПК <b>уникає</b> тем захворювань що загрожують життю, але один з персонажів незграбно згадує це в 1-ому розділі, лише на секунду.</li>
	</ul>
    </div>
  </div> 
  
  
    <div aria-haspopup="true" tabindex='1' role='button' class="card md:w-[30%] w-full">
  <img title='implied pre-2022 historical events' alt='implied pre-2022 historical events' class='object-cover' src="{{'/'|url}}imgs/ua_cw_5.png">
    <div class="info">
	<ul><li>події в Україні з 2013-2015 рік не обговорюють детально, але є натяк що все це відбулося</li>
	<li>радянське минуле Україні іноді згадують</li>
	<li>на інші історичні події іноді натякають або їх згадують</li>
	<li>пандемія covid-19 не обговорена</li>
	</ul>
    </div>
  </div> 
  
      <div aria-haspopup="true" tabindex='1' role='button' class="card md:w-[30%] w-full">
  <img title='sometimes, mildly, other sensitive stuff' alt='sometimes, mildly, other sensitive stuff' class='object-cover' src="{{'/'|url}}imgs/ua_cw_6.png">
    <div class="info">
	<ul>
	<li>інші речі можуть бути згадані</li>
	<li>перевірьте всю сторінку щоб побачити...</li>
	<li>попередження до конкретних розділів</li>
	<li>список тригерів від спільноти на DTDD (англійською)</li>
	<li>те, чого НЕ БУДЕ в коміксі</li>	
	</ul>
    </div>
  </div> 

  
  </div>


<style>

.card {
  aspect-ratio: 6/7;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.8s ease-out;

}
.card:hover , .card:focus, .card:active{
}
.card:hover:before, .card:focus:before, .card:active:before {
  opacity: 1;
}
.card:hover .info, .card:focus .info, .card:active .info{
  opacity: 1;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 2;
  transition: 1s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transition: 1s;
  padding: 0.5em;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
</style>

ІНШЕ:
<ul><li>злам четвертої стіни на вебсайті який можна пропустити</li></ul>

<button id='ch_cw' onclick='showBox("ch_cw");' tabindex='1' class='my-2 button-none text-left w-full text-light-force hover:bg-black bg-zinc-800 p-2 text-[1.1em] border-yellow-100 border-4'>клацніть тут щоб побачити ПОПЕРЕДЖЕННЯ ДО КОНКРЕТНИХ РОЗДІЛІВ (можливі маленькі спойлери)</button>

<div id='ch_cw_box' class='w-full hidden py-2'>
<b>#0-ИЙ ВИПУСК:</b> нічого <br>
<b>#1-ИЙ ВИПУСК:</b> магічне полум'я | погрози вбивству | одна незграбна згадка смертельних захворювань
</div>

<div>якщо вам може допомогти більш детальніша інформація щодо можливого вмісту цієї історії, ми рекомендуємо вам перевірити
 
 <a tabindex='1' href='https://www.doesthedogdie.com/media/1605829'> англомовну сторінку <b>DTDD</b> створену спільнотою</a>! (автор також іноді додає інформацію коли треба) <a tabindex='1' href='https://www.doesthedogdie.com/media/1605829'><img alt='does the dog die' class='inline-block hover:scale-111 ease-in-out duration-500 w-20 h-20 rotate-8' src='{{'/'|url}}imgs/sm_dtdd.png'></a>

 </div>


<small>якщо ви маєте специфічний тригер який ніде не вказано але який важливий для вас, <a href='{{"/"|locale_url}}contact' tabindex='1'>прошу з'вяжіться з нашим колективом і запитайте!</a> 💛 в цьому нема нічого ганебного.
</small>


<h1 class='font-cmu'>
в "ЛОХАХ З-ПІД КИЄВА" <b class='text-cyan-200'>НЕМАЄ…</b></h1>

<ul>
<li>❌ <b>хвороб що загрожують життю</b> як частини сюжету</li>
<li>❌ занадто графічно або жорстоко показаного <b>фізичного насильства</b></li>
<li>❌ <b>будь-чого окрім маленької кількості крові або старих, завижших шрамів</b></li>
<li>❌ <b>відверто сексуального контенту</b></li>
<li>❌ <b>повномасштабного вторгнення в Україну 2022 року</b></li>
</ul>



`;



if(window.location.pathname=='{{"/" | locale_url}}read'){

if (localStorage.getItem("spoiler_state")){


if (localStorage.getItem("hideCW")=="true"){
cw_screen.innerHTML="";
cw_screen.style.display='none';

normal.style.display='revert';
footer.style.display = 'revert';
document.body.style.backgroundColor='revert';

}else{

normal.style.display='none';
footer.style.display = 'none';

cw_screen.style.display='block';
document.body.style.backgroundColor='black';
cw_screen.innerHTML=cw_screen_content+`<div class='flex gap-4 flex-row w-full'>
<button onclick='localStorage.setItem("hideCW", "true") ; location.reload(); ' tabindex='1' class='button text-center w-full'>ТАК, ЗВУЧИТЬ НОРМАЛЬНО</button>
<a href='{{"/"|locale_url}}' class='button text-center w-full' tabindex='1'>НІ, МОЖЕ ІНШИМ РАЗОМ</a>
</div>

</div>`;
}

}

}




function showBox(y) {
  document.getElementById(y+'_box').classList.toggle('hidden');
}


</script>


<script>
document.addEventListener('DOMContentLoaded', function() {

 const d = new Date();
 let year = d.getFullYear(); 


    document.getElementById('year').innerHTML=year;
	
if (document.title==='Losers of Near-Kyiv'){

document.title='Лохи з-під Києва';
}



function setCookie(name, value) {
    localStorage.setItem(name, value);  // set. also its not fr a cookie lol its localstorage
}

function getCookie(name) {
    return localStorage.getItem(name);  // get value
}


if(getCookie('theme')){
setTheme(getCookie('theme'));
}

if(getCookie('primary-theme')){
setThemePrimary(getCookie('primary-theme'));
}else{

if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
        //OS theme setting detected as dark
		setThemePrimary("dark");
		setTheme("default_dark");
}


}


});


	
function setData(x,y){
 localStorage.setItem(x, y);
}

function getData(x){
localStorage.getItem(x); 
}



// REPLACES ALL NAME INSTANCES ACROSS THE SITE WITH YOUR CHOSEN USERNAME
let checkname=localStorage.getItem('username');

if (!checkname){
checkname='USERNAME';
}

const namesArray = document.querySelectorAll(".username"); 
for (let i = 0; i < namesArray.length; i++) {
namesArray[i].innerHTML= checkname;
}



const cwArray = document.querySelectorAll(".cw_og"); 
for (let i = 0; i < cwArray.length; i++) {
cwArray[i].innerHTML=cw_screen_content;
}



// SAME AS ABOVE BUT FOR PFPS

let checkpfp=localStorage.getItem('pfp');

if (!checkpfp){
checkpfp="{{ '/' | url }}imgs/pfps/pfp.jpg";
}
const pfpArray = document.querySelectorAll(".pfp"); 
for (let i = 0; i < pfpArray.length; i++) {
pfpArray[i].src=checkpfp;
}


var checkpfp0=localStorage.getItem('pfp_layer_0');
var checkpfp1=localStorage.getItem('pfp_layer_1');
var checkpfp2=localStorage.getItem('pfp_layer_2');
var checkpfp3=localStorage.getItem('pfp_layer_3');



for (let layer = 0; layer < 4; layer++) {


if (window['checkpfp' + layer]){
let currentPfpArray = document.querySelectorAll(".l"+layer); 
for (let ww = 0; ww < currentPfpArray.length; ww++) {

currentPfpArray[ww].style.backgroundImage=window['checkpfp' + layer];
}
}

}





function loadSpoil(){

const help_link=document.getElementById('help_link');
const help_link_m=document.getElementById('help_link_m');

const community_link=document.getElementById('community_link');
const community_link_m=document.getElementById('community_link_m');

const s_screen=document.getElementById('spoiler_screen');


const s_state=localStorage.getItem('spoiler_state');


if (s_state==null){
// localStorage.setItem('spoiler_state', 'true');
}else{


const sdate = new Date();

let dday = sdate.getDate();
let mmonth = sdate.getMonth() + 1;
let yyear = sdate.getFullYear();

// This arrangement can be altered based on how we want the date's format to appear.
let newwDate = `${dday}.${mmonth}.${yyear}`;

if (localStorage.getItem('join_date')==null){
 localStorage.setItem('join_date', newwDate);
}

const jdateArray = document.querySelectorAll(".join_date"); 
for (let i = 0; i < jdateArray.length; i++) {
jdateArray[i].innerHTML+=localStorage.getItem('join_date');
}


}

if (s_state==='true'){
help_link.innerHTML= `<p>???</p>`;
help_link_m.innerHTML= `<p>???</p>`;

community_link.innerHTML = `<p>???</p>`;
community_link_m.innerHTML = `<p>???</p>`;


if (s_screen){
s_screen.classList.add('hidden');
normal.classList.remove('hidden');

}

}else if (s_state==='false'){


if (s_screen){
s_screen.classList.add('hidden');
normal.classList.remove('hidden');

}


help_link.innerHTML= `<a href="{{ '/' | locale_url }}help_us">❣️допомога</a>`;
help_link_m.innerHTML= `<a href="{{ '/' | locale_url }}help_us">❣️допомога</a>`;
community_link_m.innerHTML= `<a href="{{ '/' | locale_url }}community">🌻спільнота</a>`
community_link.innerHTML= `<a href="{{ '/' | locale_url }}community">🌻спільнота</a>`
}



}

// ON LOAD

document.addEventListener("DOMContentLoaded", (event) => {
localStorage.setItem('lang', 'uk-UA');

loadSpoil();


});


</script>

<script>
// INTRO 1 : TRUTH LIE ACHIEVEMENT SCRIPT 

if (localStorage.getItem('ach_intro_lie') == 'true' && localStorage.getItem('ach_intro_truth') == 'true' && localStorage.getItem('ach_intro_truthlie') !== 'true'){
showNewAchievement('ach_intro_truthlie');
}

// INTRO 1 : ALL OPTIONS ACHIEVEMENT SCRIPT 

if (localStorage.getItem('ach_intro_exh') !== 'true'){
var intervalID = window.setInterval(myCallback, 5000);

function myCallback() {
if (localStorage.getItem('rules_dialogue') == 'true' && localStorage.getItem('name_dialogue') == 'true' && localStorage.getItem('art_dialogue') == 'true' && localStorage.getItem('door_dialogue') == 'true' && localStorage.getItem('hobbies_dialogue') == 'true' && localStorage.getItem('leg_dialogue') == 'true'){
showNewAchievement('ach_intro_exh');
}

}
}

const new_ach=document.getElementById('new_ach');
$("#new_ach").hide;




function showNewAchievement(aaa){

let temporaryy = (aaa.toString());

if (localStorage.getItem(temporaryy)!=='true'){

localStorage.setItem(temporaryy, true);
var ach_sound = document.getElementById("ach_sound"); 
  ach_sound.volume=0.15;
  ach_sound.play(); 


var x = achbase.find(item => item.id === aaa.toString());

document.getElementById('new_ach_title').innerHTML=x.title+': ';
document.getElementById('new_ach_desc').innerHTML=" " + x.desc;
document.getElementById('new_ach_img').src='{{"/" | url}}imgs/achievements/'+x.id+'.png';
$("#new_ach").fadeIn(1000);

setTimeout(() => {
 $("#new_ach").fadeOut(3000);


}, 8000);


}

}

function showTab(box, elem) {

  console.log(box);
  console.log("^BOX");
  console.log(elem);
  console.log("^ELEM");

	let testlink="#"+(box)+">*:not(#"+(elem+"_box")+")";
	console.log(testlink + "testlink");
  let excluding=document.querySelectorAll(testlink);
  console.log(excluding);
  
  for (let i=0; i<excluding.length; i++){
  document.getElementById(excluding[i].id).classList.add('hidden');
  }
  
  if(document.getElementById(elem+'_box').classList.contains("hidden")){
  document.getElementById(elem+'_box').classList.remove('hidden');
  }else{
  document.getElementById(elem+'_box').classList.add('hidden');
  }
  
}
</script>
</div>
</body>