<ul>
<li>2026, APRIL 9TH : many bugfixes, added <a href='./settings'>NEW FEATURES</a> to the user settings! </li>

<li>2026 MARCH 13TH : optimized images a lot + added UKRAINIAN LANGUAGE to the website!</li>

<li>2025 DECEMBER 21TH : added a little button leading to this website!</li>
<li>2025 DECEMBER 20TH : LoNK MASSIVE WEBSITE UPDATE & LONK:In' PUBLIC (RE)RELEASE </li>
<li>2025 OCTOBER 18TH : LoNK:In' RELEASE</li>
<li>2025 OCTOBER 11TH : WEBSITE RELEASE & ISSUE #0 RELEASE</li>
</ul>