<ul>
<li>2026, 13 БЕРЕЗНЯ : розмір картинок оптимізовано; додано СОЛОВ'ЇНУ МОВУ до сайту!</li>
<li>2025, 21 ГРУДНЯ : додано маленьку кнопку з цим вебсайтом!</li>
<li>2025, 20 ГРУДНЯ : ВЕЛИКЕ ОНОВЛЕННЯ & ПЕРЕВИПУСК КОМІКСУ-ОЗНАЙОМЛЕННЯ</li>
<li>2025, 18 ЖОВТНЯ : ДОДАНО #1-ИЙ ВИПУСК (КОМІКС-ОЗНАЙОМЛЕННЯ)</li>
<li>2025, 11 ЖОВТНЯ : ВЕБСАЙТ + ДОДАНО #0-ИЙ ВИПУСК</li>
</ul>