---
 
title: COMMUNITY | Losers of Near-Kyiv
---
<div class='p-4 gap-2 flex flex-col'>

<b class='bg-white-adapt p-2 text-fortext'><img src="{{'/'|url}}imgs/logo.png" class='hover:rotate-4 ease-in-out transition-all duration-1100 hover:scale-105 h-[3em] inline' alt='losers of near-kyiv'>is a passion project made outta love. ❤️🧡💛💚💙💜</b>

<div class='flex flex-col-reverse md:grid md:grid-cols-[3fr_1fr] gap-2 *:w-full'>

<section>
while it's primarly developed by one person (avrum, who is the writer, artist, and web-developer of LoNK), <b>LOSERS OF NEAR-KYIV</b> does not and would never exist if not for <b>UNWAVERING SUPPORT</b> from friends, loved ones, and tens of random people online expressing interest for this silly little ukrainian slice of life story.<br>
this is a dedicated page for the <b>LoNK team</b>, <b>LoNK fans</b>, and <b>LoNK fandom</b>!
<p>every post, drawing, meme is appreciated dearly!</p>

<h1>QUICK LINKS:</h1>

<div class='flex flex-row gap-2'>
<a href="https://www.pinterest.com/losersofnearkyiv/" target="_blank"><img alt='pinterest' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-6' src="{{'/'|url}}imgs/sm_pinterest.png">PINTEREST</a>
<a href="https://ko-fi.com/losersofnearkyiv" target="_blank"><img alt='ko-fi' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-8' src="{{'/'|url}}imgs/sm_ko-fi.png">KO-FI</a>
<a href="https://neocities.org/site/losersofnear-kyiv" target="_blank"><img alt='neocities' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-5' src="{{'/'|url}}imgs/sm_neocities.png">NEOCITIES</a>
<a href="https://www.tumblr.com/losers-of-near-kyiv" target="_blank"><img alt='tumblr' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-12' src="{{'/'|url}}imgs/sm_tumblr.png">TUMBLR</a>
</div>

<ul class='mt-2'>
<!-- FINISH THIS ASAP -->
<li><a href='https://www.doesthedogdie.com/media/1605829'>DTTD content warnings list</a></li>
<li><a href='https://archiveofourown.org/tags/%D0%9B%D0%BE%D1%85%D0%B8%20%D0%B7-%D0%BF%D1%96%D0%B4%20%D0%9A%D0%B8%D1%94%D0%B2%D0%B0%20%7C%20Losers%20of%20Near-Kyiv%20(Webcomic)'>ao3 lonk fandom tag</a> (currently unwrangled)</li>
<li><a href='https://www.tumblr.com/losers-of-near-kyiv/803449251709534208/welcome-to-the-one-official-losers-of-near-kyiv'>tumblr lonk tags</a></li>
</ul>

<small>did we miss something important that exists? <a href='{{"/"|locale_url}}/contact'>contact us asap!</a></small>
</section>

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/art1.webp' class='hover:scale-103 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption><u class='decoration-dima'>dima</u> by <a href='https://www.tumblr.com/aartisthetic'>artisthetic</a></figcaption>
</figure>

</div>

<section>
<h1 class='font-cmu font-bold'>langauge reference</h1>

<div class='flex flex-col lg:flex-row'>

<div class='lg:w-1/2 w-full'>
<table style="undefined;table-layout: fixed;"><colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
  <tr class='bg-white-adapt text-dark'>
    <th>NAME IN UKRAINIAN</th>
    <th>NAME IN ENGLISH</th>
  </tr></thead>
<tbody class='text-center'>
  <tr>
    <td>ЛОХИ З ПІД-КИЄВА</td>
    <td>LOSERS OF NEAR-KYIV</td>
  </tr>
  <tr>
    <td>#ЛОХИ</td>
    <td>#LONK</td>
  </tr>
  <tr>
    <td>ДМИТРО / ДІМА</td>
    <td>DMYTRO / DIMA</td>
  </tr>
  <tr>
    <td>МІХЕЙ / МІША</td>
    <td>MIKHEI / MISHA</td>
  </tr>

  <tr>
    <td>ЛУЧЕЗАР / ЗАРЯ</td>
    <td>LUCHEZAR / ZARIA</td>
  </tr>
    <tr>
    <td>АКРИЛ</td>
    <td>ACRYL</td>
  </tr>
</tbody>
</table>
</div>
<div class='lg:w-1/2 w-full'>
<h2>LoNK DUO NAMES used by LoNK team</h2>
<small>these are used not as romantic shipping but as a general word/tag for whatever dynamic two characters have! if you'd want to make a romantic tag, you'd have to specify. thanks for understanding!</small>
<ul>
<li>🟨🟦 ACRYL & MIKHEI = micryl </li>
<li>🟨🟩 ACRYL & LUCHEZAR = zacryl </li>
<li>🟥🟨 ACRYL & DIMA = dimcryl </li>
<li>🟥🟩 DIMA & LUCHEZAR = dimazar </li>
<li>🟦🟩 MIKHEI & LUCHEZAR = mishazar </li>
<li>🟦🟥 MIKHEI & DIMA = dimisha </li>
</ul>
</div>
</div>
</section>

<section>
<h1 class='font-cmu font-bold'>YOU LOVE ENGAGING WITH MEDIA? HERE'S SOME IDEAS:</h1>
<small>these are just some random suggestions: you can do whatever YOU can and would like! also, feel free to share this for any other fandom.</small>
<h2>SHARE THE COMIC:</h2>
<ul>
<li>ask someone to read it (be kind; suggest, don&#39;t force!)</li>
<li>maybe read it together with them </li>
<li>or ask them to record their reaction</li>
<li>or make a live reaction thread</li>
<li>(author&#39;s note: reading aloud in a group with &quot;voice acting&quot; is a lot of fun!)</li>
<li>discuss it with someone</li>
<li>contribute to community-ran <a href='https://www.doesthedogdie.com/media/1605829'>content warning list</a> to make it more accessible!</li>
<li><a href='./help_us.html'>translate it</a> (or just write about it in your native language)</li>
<li><a href='./help_us.html'>transcribe it</a></li>
</ul>
<h2>SHARE YOUR THOUGHTS:</h2>
<ul>
<li>make a silly small post about it somewhere</li>
<li>or write a review (we have komments section if you want it to be on-site!)</li>
<li>or make a whole serious as hell youtube video about it</li>
<li>do anything YOU would have fun with, okay? :]</li>
</ul>

<div class='flex flex-col md:grid md:grid-cols-[1fr_2fr] gap-2 *:w-full'>


<!--
-->

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/img2.jpg' class='hover:scale-103 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption><u class='decoration-zaria'>luchezar</u> by <a href='https://www.tumblr.com/leplig'>leplig</a></figcaption>
</figure>

<div>
<h2>DO SOME ART:</h2>
<ul>
<li>make some memes<ul>
<li><a href='../imgs/community/meme_1.png'>that one "what i read /what i expected / what i got" meme template</a></li>
<li><a href='https://imgflip.com/'>make some imgflip templates or use some existing ones maybe</a></li>
<li><a href="https://aaronson.org/whisperer/">whisper meme generator</a></li>
<li><a href='https://imgflip.com/memetemplate/446539013/Speech-bubble'>speech bubble reaction pics</a></li>
<li><a href='https://makesweet.com/'>silly 3d gif makers #1 </a></li>
<li><a href='https://www.3dgifmaker.com/360Spin'>silly 3d gif makers #2 </a></li>
<li><a href='https://ezgif.com/maker'>gif editor</a></li>
</ul>
</li>
<li>do a fandub</li>
<li>draw<ul>
<li>re-draw an existing panel you like</li>
<li>put some fun headcanons onto some character/do a redesign</li>
<li>animate</li>
<li>do pixel art</li>
<li>do mixed media/crafts/anything you&#39;d like!</li>
</ul>
</li>
<li>do some edits. we especially love queer ones!</li>
<li>^ or perhaps... make some web graphics...</li>
<li>how about a pinterest board?</li>
<li><a href='https://archiveofourown.org/tags/%D0%9B%D0%BE%D1%85%D0%B8%20%D0%B7-%D0%BF%D1%96%D0%B4%20%D0%9A%D0%B8%D1%94%D0%B2%D0%B0%20%7C%20Losers%20of%20Near-Kyiv%20(Webcomic)'>write some fics </a>
(and hey, it can be as self-indulgent as you want: avrum only reads fanfiction tagged with &quot;#author can read this (losers of near-kyiv)&quot; tag!)</li>
<li>write some analysis</li>
<li>also, this is a silly small tradition: next time you&#39;re in an art store and there&#39;s samples you can draw at, could you draw a little acryl there? it doesn&#39;t have to be perfect: xe just wants to be there. thanks! # art store acryl</li>
</ul>
</div>



</div>

<div class='flex flex-col md:grid md:grid-cols-[3fr_1fr] gap-2 *:w-full'>

<div>
<h2>RANDOM FUN STUFF:</h2>
<ul>
<li>put lonk on your profile picture</li>
<li>put lonk on your phone wallpaper/lock screen</li>
<li>make a telegram stickerpack</li>
<li>make/use a tierlist template</li>
<li>make them in <a href='https://picrew.me/en/'>picrews</a>. or <a href='https://pony.town/'>pony town</a>. or <a href='https://lunime.itch.io/gachalife2'>gacha life</a> (seriously. cringe is dead).  anything you want that has a character creator. have some fun!</li>
<li>make a speedrunning section of reading lonk: the introduction because it has a timer AND interactive elements, hence is speedrunnable (apparently)</li>
<li>you are a webmaster? put some lonk in there if you want! we offer stamps and buttons :]
<a class='w-fit block' href='https://losersofnear-kyiv.neocities.org/'>

<span class='flex flex-row  flex-wrap gap-2'>
<img src='{{"/"|url}}imgs/stamp_1.png'><img src='{{"/"|url}}imgs/stamp_2.gif'>
<div class='flex flex-col gap-1'>
<img class='w-full' src='{{"/"|url}}imgs/id.png'> 
<img class='w-full' src='{{"/"|url}}imgs/button.gif'>
</div>
</span>

</a>
</li>
<li>send an ask to <a href='https://www.tumblr.com/blog/losers-of-near-kyiv'>official lonk tumblr account</a></li>
<li>or send <a href='./contact_us'>an e-mail</a> to us with some question/message (seriously: our e-mail isn&#39;t all for serious business only!)</li>
</ul>
</div>

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/img3.webp' class='hover:scale-103 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption><u class='decoration-zaria'>luchezar</u> by <a>steff_baka</a></figcaption>
</figure>

</div>
<h2>WIKIAS:</h2>
<ul>
<li>you want to start a fan wikia?! awesome!<ul>
<li>consider using <a href='https://miraheze.org/'>MIRAHEZE</a> (in order to make a wiki, you have to ask them to lend you space for one: it sounds scary and takes a bit of time but i PROMISE it is worth it) and NOT FANDOM</li>
<li>if you do want to have some kind of simple-to-make + simple-to-edit wikia, consider making a TVtropes page (it has annoying adblocking rules BUT you don&#39;t get them if you make an account). also consider making a TVtropes page if you just like TVtropes lmao ❤️ </li>
<li>avrum is experienced with wikias: if you need some advice or help, just contact xem!</li>
</ul>
</li>
</ul>
<h2>PRESERVE:</h2>
<ul>
<li>download the whole comic</li>
<li>download the whole website</li>
<li>burn it onto some kind of physical medium  </li>
<li>put it on some kind of file hosting or some type of an <a href='https://archive.org/'>internet archive</a></li>
<li>repost/rehost bits of it</li>
<li>make bits of it into paper irl comics</li>
<li>save it, any way you&#39;d like</li>
</ul>

finally,
<br>
    stay civil and avoid harassing people<br>
    know online drama cannot say anything about your worth as a human being<br>
    tag your content (derealization/suggestive/etc) if the need arises<br>
    remember that you matter and that you can take breaks from social media when it gets overwhelming<br>
	and most importantly<br>
	<b class='p-2 text-black-adapt bg-white-adapt '>have fun :]   ❤️🧡💛💚💙💜</b> <br>
  
</section>

<!--

<h1>learn correct LoNK language:  </h1>

LoNK = losers of near kyiv = the story

ex. i started to read lonk recently. woke as hell

a LoNK (noun) = some character from LoNK (The Story)

ex. have you seen dima? he’s my favorite lonk!

LoNKs (noun) = plural of a LoNK.

ex. the LoNKs live rent-free in my head now…

LoNKer / lonker = a fan of LoNK

ex. i am a real lonker. i’ve been into it even before it was released!

-->
<!--
<h1 >LANGUAGE TRANSLITERATION</h1>
Losers of Near-Kyiv comes out billingually, so here's a fun little table.

<table style="undefined;table-layout: fixed;" class='w-1/2'><colgroup>
<col style="width: 50%">
<col style="width: 50%">
</colgroup>
<thead>
  <tr class='bg-white text-dark-force'>
    <th>NAME IN UKRAINIAN</th>
    <th>NAME IN ENGLISH</th>
  </tr></thead>
<tbody class='text-center'>
  <tr>
    <td>ЛОХИ З ПІД-КИЄВА</td>
    <td>LOSERS OF NEAR-KYIV</td>
  </tr>
  <tr>
    <td>ДМИТРО / ДІМА</td>
    <td>DMYTRO / DIMA</td>
  </tr>
  <tr>
    <td>МІХЕЙ / МІША</td>
    <td>MIKHEI / MISHA</td>
  </tr>

  <tr>
    <td>ЛУЧЕЗАР / ЗАРЯ</td>
    <td>LUCHEZAR / ZARIA</td>
  </tr>
    <tr>
    <td>АКРИЛ</td>
    <td>ACRYL</td>
  </tr>
</tbody>
</table>
-->

<!--
<h1 class='font-block'>YOU LIKE ENGAGING IN FANDOM? TRY...</h1>

<div class='flex-col flex'>
<ul><li>writing a post about it</li></ul>

<iframe src='https://embed.tumblr.com/embed/post/t:dixkw3TXmCuXz6ZV1zfcPg/796280369997660160/v2?width=542&language=en_US&did=77c74ee72dc8de2a21bca43350ad70816e70d2db' class='w-1/2'></iframe>
-->


</div>