---
 
title: "CONTACT US | Losers of Near-Kyiv"

---
<div class='p-6'>
<b>OFFICIAL E-MAIL</b> : losers.of.near.kyiv (at) gmail (dot) com<br>
<small>replace (at) with the email sign: we do that stuff to keep bots away. have a nice one!</small>

<p>contact us for anything related to <b>bugs</b>; <b>accessibility concerns/ideas</b>; <b>help offers (translation, etc)</b>; <b>copyright permissions</b>; <b>project invitations</b>; <b>partnerships</b>; <b>silly website suggestions</b>; <b>writing advice requests</b>; <b>coding advice requests</b>; <b>fanmail</b>; and... anything you want, really. the e-mail is currently managed by a▾rum ❤️!<br>

</p>

<h1 class='my-2 font-cmu'>THE <b>ONLY</b> OFFICIAL SOCIAL MEDIA ACCOUNTS:</h1>

<div class='flex flex-row gap-2'>
<a href="https://www.pinterest.com/losersofnearkyiv/" target="_blank"><img alt='pinterest' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-6' src="{{'/'|url}}imgs/sm_pinterest.png">PINTEREST</a>
<a href="https://ko-fi.com/losersofnearkyiv" target="_blank"><img alt='ko-fi' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-8' src="{{'/'|url}}imgs/sm_ko-fi.png">KO-FI</a>
<a href="https://neocities.org/site/losersofnear-kyiv" target="_blank"><img alt='neocities' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 -rotate-5' src="{{'/'|url}}imgs/sm_neocities.png">NEOCITIES</a>
<a href="https://www.tumblr.com/losers-of-near-kyiv" target="_blank"><img alt='tumblr' class='hover:scale-111 ease-in-out duration-100 w-20 h-20 rotate-12' src="{{'/'|url}}imgs/sm_tumblr.png">TUMBLR</a>
</div>

<a href='https://www.tumblr.com/blog/avrum-posts-stuff'>a▾rum's personal tumblr account (not very active)</a>
<small>also, her/his name can be spelled as avrum or aurum. doesn't have to be a▾rum lol!</small>


<h1 class='my-2 font-cmu'>NOTES ON CONTACTING A▾RUM, CREATOR OF THE COMIC:</h1>
I am not a God nor am I the Devil!<br>
I am just me<br>

Please know you don't need to be anyone "worthy" or "special" to contact me nor even have anything particularly interesting to say : I would love to chat or just read something you'd send. All humans are equal in my book<br>

(I know, however, there's some people who will harass me over literally a fictional online gay webcomic of All things. please know that while my message about equality stands, I will not tolerate you and I block freely 💕 there are things in life that are much more fulfilling than being mean on the internet ☺️♥️ )<br>
</p>


</div>