---
layout: 'template.njk'
title: "CONTENT WARNINGS | Losers of Near-Kyiv"
---

<div class='cw_og *:p-5!'></div>

<div class='flex gap-4  py-2 flex-row w-full'>
<a href='{{"/"|locale_url}}read'  tabindex='1' class='button text-center w-full'>YEAH, SOUNDS OKAY TO READ</a>
<a href='{{"/"|locale_url}}' tabindex='1'  class='button text-center w-full'>NO, MAYBE SOME OTHER TIME</a>
</div>

</div>

