---
 
title: HELP US | Losers of Near-Kyiv
---


<div class='grid md:grid-cols-[1fr_3fr] p-4 gap-4 w-full *:bg-light text-fortext text-[0.9em]'>

<section class='hidden md:flex flex-col'>
<h1>HELP THE PROJECT!</h1>
<ul class='*:ml-0! list-inside *:odd:bg-dark-force *:odd:text-light-force'>
<li>financially...</li>
<li>by spreading it...</li>
<li>by translating it...</li>
<li>by offering other type of help!</li>
</ul>

<div style='background-image: url("{{'/'|url}}imgs/dark_seamless.png")' class='bg-size-[100px] outline-dashed outline-2 outline-dark  flex-grow m-2'>
</div>

</section>

<div>

<h1 class='font-block bg-white-adapt w-full text-black-adapt p-2'>LONK IS SO COOL. HOW CAN I HELP THE PROJECT?</h1>
<p>happy you asked! it could be by...</p>

<button id='donate' onclick='showBox("donate");' class='button-none text-left w-full font-punk3 text-dark-force hover:bg-rose-400 bg-rose-300 p-2 text-[1.1em]'>💷 DONATING:</button>

<div id='donate_box' class='py-2 hidden'>
the best way you can CURRENTLY support LoNK is <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('financially ☆', '#FF5918', 'S6S0WX6VG');kofiwidget2.draw();</script> , all cause losers of near-kyiv is<br> <span class='text-rose-500'>☆</span> coded by...<br>
<div class='ml-2'><span class='text-orange-500'>☆</span> hosted by...</div>
<div class='ml-4'><span class='text-lime-500'>☆</span> written by...</div>
<div class='ml-7'><span class='text-blue-500'>☆</span> and drawn by...</div>
<b class='inline-block text-rose-100 p-2 skew-y-1 -skew-x-3 bg-dark-force'>one disabled war refugee without a stable income (💀🏳️‍⚧️)</b>.
<br>avrum works on this comic as a hobby. avrum really likes to have money to buy some FOOD sometimes (literally just food haha i wish i was meaning something else). it's entirely free online, and there's no ads on the website. so if LoNK made you smile today and you have a singular dollar, that is the best support possible!

<a href='https://ko-fi.com/losersofnearkyiv'><img class='w-24 m-2 inline' src='https://storage.ko-fi.com/cdn/brandasset/v2/support_me_on_kofi_badge_red.png'></a><br>
(everyone who donates gets a VERY SHITTY CUTE FUN CUSTOMIZED DOODLE OF THEIR LIKING WITH LONKS AS A GIFT!!!)
<br>
<small> maybe one day there will be <u>merch......................</u> </small>
<br><br>
as a gentle reminder however: <b>there are many other people CURRENTLY RESIDING IN UKRAINE who need help a bit more than me!</b>
if you have money but only for one cause, consider donating to <a href='https://impactful.ninja/best-charities-for-ukraine/'>ukrainian charities</a> or <a href='https://kyivpride.org/en/'>specifically</a> <a href='https://genderstream.org/en/'>queer-oriented</a> <a href='https://www.insight-ukraine.org/en/'> ukrainian organizations</a> over me! </b>

</div>

<button id='spread' onclick='showBox("spread");' class='button-none text-left w-full font-punk3 text-dark-force hover:bg-orange-300 bg-orange-200 p-2 text-[1.1em]'>🌈 TELLING YOUR FRIENDS, FAMILY, AND ENEMIES…:</button>


<div id='spread_box' class='hidden py-2'>
the second best way you can support LoNK, however, is <b>by sharing it with people</b>.<br>
<!--financial help is awesome and helps me afford food and medicine which i need to live, but this IS a fun little project that i create to make myself and other people happy! losers of near-kyiv is intended to be a fun experience, and if you enjoyed it, spreading this joy to someone else is incredible 💛-->


<!--
<h3>SHARE IT:</h3>
<ul>
<li>tell your friends, acquaintances, and largest enemies about it</li>
<li>share the link on your social media / personal webpage <a href='./resources#yourwebsite'>(you know html? we have buttons and stamps!)</a></li>
<li>read it on a live stream / during an irl meetup. do voices if you'd like!</li>
<li>mislead someone into thinking acryl is the main character. or that you can put metal into microwave safely. or that it's a BL comic or something, i dunno, you do you.</li>
</ul>
<h3>ENGAGE IN FANDOM:</h3>
<small>these don't even have to be with LoNK: these are just fun things to do with any piece of media you like!</small>
-->


no.<br> seriously. <br> <b>SHARE IT WITH SOMEONE.</b> that's one of MOST EFFECTIVE WAYS to support this story. share it with random people, your friends, your enemies, your family, your favorite youtuber, your highschool teacher whom you only have had for a year but who is suprisingly tolerant of trans people, i do NOT care. <br>
if you had fun, make them have fun.
<br>
you know what's another fun and cool way to share this story?<br>
<b>ENGAGE IN IT'S COMMUNITY!</b><br>
we have prepared <a href='./community'>AN AMAZING, BIG, AWESOME LIST</a> of fun things you could do with this story, from memes to media analysis to... speedrunning, apparently?<br>
seriously. just. go and do something right now!

<figure class='md:block flex justify-center items-center flex-col'>
<img src='{{"/"|url}}imgs/community/z_all.webp' class='hover:scale-101 border-2 border-dashed border-dark-force transition-all duration-500 ease-in-out w-[70%] md:w-full h-[auto]'>
<figcaption>lonk logo embdroidered by <a href='https://www.tumblr.com/aartisthetic'>artisthetic</a> :] </figcaption>
</figure>

</div>

<button id='translate' onclick='showBox("translate");' class='button-none text-left w-full font-punk3 text-dark-force hover:bg-lime-300 bg-lime-200 p-2 text-[1.1em]'>📝 TRANSLATING OR TRANSCRIBING THE COMIC:</button>

<div id='translate_box' class='hidden py-2'>

<h3>🌐 TRANSLATE</h3>
<p>LoNK comes out officially in 2 languages: ENGLISH & УКРАЇНСЬКА. <br> it is created by a multilingual author and with a lot of love and effort put into making it a great experience for the reader, regardless of what language they know and pick.<br>
however, the entire world doesnt speak ENGLISH & УКРАЇНСЬКА only: it is estimated that there are roughly <b>7000 LIVING LANGUAGES</b> right now!<br>
while i cannot translate LoNK to all 7000 languages that exist, what i CAN do is <b>HEAVILY ENCOURAGE FAN-MADE TRANSLATION, TO ANY LANGUAGES, ESPECIALLY "OBSCURE" ONES.</b> <br>
LoNK is NOT the easiest thing you can pick for translation, ESPECIALLY if you do not have prior experience: it contains a fair amount of informal speech, gender grammar fuckery, and the introduction comic simply is quite lengthy. (80+ pages. damn.)<br>
however, translating the comic can give it a much broader audience: translation is a matter of accessibility! not every single person can learn english easily enough to be able to read a story like LoNK, so you can help bridge some gap for these people and make them enjoy a story they didn't know they wanted.<br>
<b>i am willing to provide anyone with needed materials & context & adaptation and translation notes if they choose to translate the comic OR even the whole website.</b> <br>
fan-made translation is not official, so it's okay if you will not do the best professional job ever : what matters is that you had fun with it!</p>
<br>
<h3>♿ TRANSCRIBE</h3>
<p>on a related note, as a <b>DISABLED AUTHOR</b>, i do have to say something: <br>
<strong>ACCESSIBILITY MEANS A LOT TO ME.</strong>
there is a reason why <!--all of LoNK website can be accessed with just tab button and no mouse, why--> there are TRIGGER WARNINGS before the comic pages and why all of the dialogue boxes were picked to be in specific shades of colors that can be distinguished with most types of colorblindness. <br>
<b>
being disabled should not stop you from being able to enjoy some media,<br>
but very often it does.<br></b>
while i do my best to accommodate for some types of disability, there are acommodations that require more time and effort into them: comics typically are not accessible to blind and certain visually-impaired people due to their own nature of, well, being visual stories.
<br>
however... it doesn't mean that <a href='https://spinweaveandcut.com/blind-accessible-comics/'>they CAN'T be adapted...</a> or that <a href='https://archiveofourown.org/series/994572'>no one ever adapts them</a>. (you should really check the latter link: someone has transcribed the entirety of HOMESTUCK, for braille and text to speech, resulting in 1 million words worth of content.)<br>
it just means that it takes some effort and time to do!<br>
as i, avrum, author of the webcomic, am currently in a complicated situation in life and only can work on LoNK in my free time (and working on it includes writing it, drawing it, coloring it, translating it, coding the website for it, etc...) i cannot currently handle creating a GOOD transcription all by my own.<br>
with someone's help though, it could be possible!<br>
if you do transcribing and wanna help, <a href='{{"/"|locale_url}}contact'>please contact the LoNK team</a>. we appreciate you and need you a lot. 💖
</p>
</div>


<button id='other' onclick='showBox("other");' class='button-none text-left w-full font-punk3 text-dark-force hover:bg-blue-400 bg-blue-300 p-2 text-[1.1em]'>⭐ OFFERING OTHER HELP:</button>

<div id='other_box' class='hidden py-2'>

<p>
think you can help somehow otherwise? you probably can! please check our <a href='{{"/"|locale_url}}contact'>contact us page!</a>
</p>
</div>

<!--

<ul>
<li></li>
<li></li>
<li></li>
</ul>

-->

<b>🇺🇦 🏳️‍🌈  please remember that to truly love lonk is to love ukrainian people. there are plenty of <a href='https://impactful.ninja/best-charities-for-ukraine/'>ukrainian charities</a> you can donate to, as well as <a href='https://kyivpride.org/en/'>specifically</a> <a href='https://genderstream.org/en/'>queer-oriented</a> <a href='https://www.insight-ukraine.org/en/'> ukrainian organizations</a> that might need your help! </b>
</div>


<script>

function showBox(y) {
console.log('yay');
  document.getElementById(y+'_box').classList.toggle('hidden');
}

</script>
